$global_font_size: 14px;


.left-container,
.right-container {
    p {
        font-size: 13px;
        line-height: 150%;
        color: #4F4F4F;
        opacity: 0.85;
        padding: 10px 0;
    }
}
.right-container {
    .sidebar-title {
        margin-bottom: 20px;
    }
}

.container{
    // .about,
    .static-page {
        .double-wrap{
            display: flex;
    
            .left-container {
                padding-right: 21px;
                padding-bottom: 20px;
            }
    
            .right-container {
                margin-top: 0;
                border-left: 2px solid #0000000a;
                padding-left: 20px;
            }
        }
        
    }

    .wf58 {
        width: 56%;
        margin-right: 30px;
    }


    .wf45 {
        width: 45%;
        margin-right: 30px;
    }

    .wf40 {
        width: 41%;
    }

    .wf53 {
        width: 53%;
    }

    .wf69 {
        width: 69%;
    }

    .wf30 {
        width: 30%;
    }


    .our-direction {
        display: flex;
        margin: 50px 0;
    }

    .direction-list {
        border: 1px solid #D6D9E4;
        box-sizing: border-box;
        padding: 0 17px;
        padding-bottom: 17px;

        .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
            background: linear-gradient(259.67deg, #F09813 -3.54%, #FBD036 95.83%);
        }

        ul {
            max-height: 445px;
            overflow: auto;
            li {
                padding: 18px;
                font-weight: bold;
                color: #4F4F4F;
                cursor: pointer;
                border-top: 1px solid transparent;
                border-bottom: 1px solid transparent;

                &:hover {
                    background-color: #F9FCFF;
                    border-top: 1px solid #EBF2FA;
                    border-bottom: 1px solid #EBF2FA;
                }
                &.active {
                    background-color: #F9FCFF;
                    border-top: 1px solid #EBF2FA;
                    border-bottom: 1px solid #EBF2FA;
                }
            }
        }

        .title {
            font-family: Play;
            font-size: 23px;
            color: #424242;
        }
    }

    .direction-desc {
        .tab {
            display:none;
            &.active {
                display: block;
            }
        }
        padding: 0 20px;
        .title {
            max-width: 300px;
            font-size: 14px;
            color: #4F4F4F;
            opacity: 0.85;
        }

        svg.icon-sale-auto {
            fill: #F4AE21;
            width: 65px;
            height: 40px;
        }

        .table {
            margin: 30px 0;
            .name {
                margin: 8px 0;
                font-family: Arial;
                font-style: normal;
                font-size: $global_font_size;
                border-right: 0;
            }
            .value {
                border-left: 1px solid #D6D9E4;
                margin: 8px 0;
            }

        }
    }
}



//About
@media screen and (max-width: 1000px){
    .container {

        .direction-list,
        .direction-desc {
            width: 100%; 
        }
        .our-direction {
            display: block;
        }
    }

    .container {
        .wf45 {
            margin-right: 0;
        }
        .about,
        .static-page {
            display: block;

            .right-container {
                img {
                    width: 100%;
                }
                padding-bottom: 30px;
            }

            .left-container {
                padding-right: 0;
                padding-bottom: 80px;
            }
        }

        .direction-list {
            padding: 0 10px;
        }
        .direction-desc {
            margin-top: 30px;
        }

    }

}

@media screen and (max-width: 500px){
    .container {
        .direction-desc {
            
            .table {
                .name {
                    margin: 0;
                    padding: 10px;
                }
                .value {
                    margin-top: 0;
                    border-left: 0;
                }
                span {
                    display: block;
                    width: 100%;
                }
            }
        }
    }

}