// .catalog__content {
//     .detail-card.info {
//         padding-left: 15px;
//     }
// }

.description-block {
    .status {
        .flag {
            display: inline-block;
            &.new {
                padding: 5px 10px;
                background-color: #009FE4;
                color: #fff;
                border-radius: 3px;
            }
        }

        .amount {
            display: inline-block;

            &.not-avail {
                color: #ff7373;
            }

            &:not(.not-avail)::before {
                content: '';
                position: absolute;
                left: 15px;
                top: 50%;
                transform: translateY(-50%);
                height: 17px;
                width: 17px;
                background-image: url('../img/svg/amount-true.svg');
            }
            position: relative;
            color: #219653;
            padding-left: 40px;
        }

        
    }
    .price {
        font-family: Play;
        font-weight: bold;
        font-size: 26px;
        line-height: 110%;
        text-transform: uppercase;
        color: #424242;

    }

    .prop {
        .name {
            font-weight: bold;
            color: #828282;
        }

        .value {
            padding-left: 10px;
        }
    }
}