svg path {
	fill:inherit; 
	stroke:inherit;
}

.catalog {
    &__content {
        width: calc(100% - 294px);

        
    }
}

.title {

    font-weight: bold;
    line-height: 140%;
    text-transform: uppercase;
    color: #4F4F4F;
}


.table {
    background-color: #FFF;
    border-top:  1px solid #D6D9E4;
    border-bottom: 1px solid #D6D9E4;

    li:not(:last-child) {
        border-bottom: 1px solid #D6D9E4;
    }
    li {
        width: 100%;
        
        .name {
            display: inline-block;
            padding: 16px;
            width: 40%;
            border-right: 1px solid #D6D9E4;

            font-weight: bold;
            line-height: 140%;
            color: #4F4F4F;
        }
        .value {
            display: inline-block;
            padding: 10px;
            width: 60%;

            font-family: Arial;
            line-height: 140%;
            color: #4F4F4F;
        }
    }
    
}

.detail-card{
    


    &.info {
        display: flex;

        .media{
            width: 40%;
            .card-slider-wrap {
                position: relative;

                .stickers {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    padding: 10px;
                    z-index: 1;
    
                    span {
                        color: #ffff;
                        padding: 3px 4px;
                        margin: 3px;
                        border-radius: 4px;
                        &.avail {
                            background-color: #219653;
                        }
                        &.not-avail {
                            background-color: #4F4F4F;
                        }
    
                        &.new {
                            background-color: #F2C94C;
                        }
    
                        &.order {
                            background-color: #F2994A;
                        }
    
                        &.sale {
                            background-color: #EB5757;
                        }
                    }
                }
            }
            .card-slider-box {
                margin-bottom: 20px;
                max-height: 265px;
                border-radius: 15px;
                overflow-y: hidden;

                .img-item {
                    img {
                        border-radius: 10px;
                    }
                }
            }
            .card-img-list {
                display: flex;
                flex-wrap: wrap;
                margin: 0 -5px;

                li {
                    width: calc( 25% - 10px );
                    margin: 0 5px;
                }
                .list-item {
                    display: inline-block;
                    width: 100%;
                    height: 60px;
                    border-radius: 10px;
                    overflow: hidden;

                    background-size: cover;
                }
            }

            .video {
                margin-top: 15px;
            }

            .video-yt {
                display: block;
                height: auto;
                position: relative;
                border-radius: 10px;
                overflow: hidden;
                height: 240px;


                iframe {
                    width: 100%;
                    height: 100%;
                }

                // & > img {
                //     filter: brightness(0.5);
                // }
                // span {
                //     height: 65px;
                //     position: absolute;
                //     display: inline-block;
                //     left: 50%;
                //     top: 50%;
                //     transform: translate(-50%, -50%);
                //     img {
                //         width: 85px;
                //     }
                // }
            }

            .text {
                width: 100%;
                font-size: 14px;
                line-height: 140%;
                color: #4F4F4F;
            }
        }

        .description-block {
            width: 60%;
            padding-left: 15px;

            .card-container {
                padding: 0 10px 0 20px;
            }
            .price {
                padding-top: 5px;
                padding-bottom: 5px;
                font-family: Play;
                font-weight: bold;
                font-size: 26px;
                line-height: 110%;
                text-transform: uppercase;
                color: #424242;
            }

            .props {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                padding-top: 5px;
                padding-bottom: 5px;
                font-size: 12px;

                .name {
                    font-weight: bold;
                    line-height: 140%;
                    color: #4F4F4F;
                }

                .value {
                    font-size: 14px;
                    line-height: 140%;
                    color: #4F4F4F;
                }

                li:nth-child(1){
                    flex-basis: calc( 38% - 15px );
                    margin-right: 8px;
                }
                li:nth-child(2){
                    flex-basis: calc( 33.3333% - 15px );
                    margin-right: 8px;
                }
                li:nth-child(3){
                    flex-basis: calc( 26% - 15px );
                    margin-right: 8px;
                }

                li:not(:nth-child(3n)),
                li:not(:last-child) {
                    border-right: 1px solid #F09813;
                }
            }

            .advantages {
                width: 100%;
                display: block;
                li {
                    padding-left: 42px;
                    position: relative;
                    padding-top: 5px;
                    padding-bottom: 5px;

                    font-size: 14px;
                    line-height: 140%;
                    color: #4F4F4F;

                    &::before {
                        content: '';
                        width: 16px;
                        height: 1px;
                        background-color: #F09813;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }

            .buttons {
                display: flex;
                padding: 20px;
                button:not(:last-child) {
                    margin-right: 5px;
                }
            }

            .characteristics {
                background-color: #F9FCFF;
                margin: 10px 10px;
                padding-top: 15px;
                // padding-left: 10px;
                padding-bottom: 15px;

                .table {
                    border-top:  1px solid #F09813;
                    border-bottom: 1px solid #F09813;
                    
                }

                .description {
                    width: 100%;
                }
            }
        }
    }

    &.slider {
        .control {
            display: flex;
            margin-bottom: 40px;
            border-bottom: 1px solid #D6D9E4;
            justify-content: space-between;
            align-items: center;

            h3 {
                font-family: Play;
                font-weight: bold;
                font-size: 18px;
                line-height: 110%;
                text-transform: uppercase;
                color: #424242;
                padding: 23px 0;
            }

            .button {
                span {
                    position: relative;
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    border: 1px solid #F2F2F2;
                    box-sizing: border-box;
                    border-radius: 50%;
                    margin-left: 5px;
                    cursor: pointer;
                }
                svg {
                    position: absolute;
                    width: 12px;
                    height: 7px;
                    fill: #007FB8;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            
        }
    }
}



// @media screen and (max-width: 1630px) {
//     .detail-card {
//         &.info {
//             .description-block {
//                 .props {
//                     li {
//                         -ms-flex-preferred-size: calc( 50% - 15px);
//                             flex-basis: calc( 50% - 15px);
//                         margin-top: 10px;
//                     }
//                 }
//             }
//         }
//     }
// }

@media screen and (max-width: 1200px) {
    .detail-card {
        &.info {
            .media {
                .card-img-list {
                    li {
                        width: calc( 33.33% - 10px);
                        a {
                            height: 65px;
                        }
                    }
                }
            }
            
        }
    }
}
  
@media screen and (max-width: 1100px) {
    .text-page {
        padding-top: 5px;
    }
    .detail-card{
        &.info {
            .description-block {
                .buttons {
                    display: block;
                    a {
                        margin: 0;
                        margin-bottom: 10px;
                        // width: 100%;
                        text-decoration: none;
                        padding: 15px 0;
                        text-align: center;
                    }
                }
            }

            .media {
                .card-img-list {
                    li {
                        width: calc( 50% - 10px);
                    }
                }
            }
        }
    }
    /* line 679, dev/sass/utils/media.scss */
    .detail-card.info .description-block .buttons button {
      margin-top: 15px;
    }
    /* line 683, dev/sass/utils/media.scss */
    .detail-card.info .description-block .props {
      display: block;
    }
    /* line 685, dev/sass/utils/media.scss */
    .detail-card.info .description-block .props li {
      -ms-flex-preferred-size: calc( 33.33% - 15px);
          flex-basis: calc( 33.33% - 15px);
      border-right: 1px solid #F09813;
    }
  }

//   @media screen and (max-width: 1100px) {
//     .detail-card{
//         &.info {
//             .media {
//                 .card-img-list {
//                     li {
//                         width: calc( 33.33% - 10px);
//                     }
//                 }
//             }
//         }
//     }
//   }

@media screen and (min-width: 1000px) and (max-width: 1100px) {
    .catalog__content {
        & > .detail-card.info {
            padding-left: 0;
        }
    }

    .detail-card{
        &.info {
            .description-block {
                .props {
                    display: flex;
                }
            }
            .media {
                .card-img-list {
                    li {
                        width: calc( 20% - 10px);
                    }
                }
            }
        }
    }
    /* line 699, dev/sass/utils/media.scss */
    .detail-card.info {
      display: block;
    }

    .detail-card.info .media,
    .detail-card.info .description-block {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
      width: 100%;
    }
    /* line 707, dev/sass/utils/media.scss */
    .detail-card.info .media .card-container,
    .detail-card.info .description-block .card-container {
      padding: 0;
    }
    /* line 714, dev/sass/utils/media.scss */
    .detail-card.info .media .card-slider-box .img-item img {
      width: 100%;
    }
    /* line 721, dev/sass/utils/media.scss */
    .detail-card.info .media a.video-yt img {
      width: 100%;
    }
    /* line 728, dev/sass/utils/media.scss */
    .detail-card.info .description-block .card-container {
      padding: 20px 0px 20px 0;
    }
    /* line 731, dev/sass/utils/media.scss */
    .detail-card.info .description-block .card-container > div {
      margin-top: 10px;
    }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
    .detail-card{
        &.info {
            .media {
                .card-img-list {
                    li {
                        width: calc( 33.33% - 10px);
                    }
                }
            }
        }
    }
}
  
  @media screen and (max-width: 800px) {
    .catalog__content {
        & > .detail-card.info {
            padding-left: 0;
        }
    }
    .detail-card{
        &.info {
            .media {
                .card-img-list {
                    li {
                        width: calc( 20% - 10px);
                    }
                }
            }
        }
    }
    /* line 699, dev/sass/utils/media.scss */
    .detail-card.info {
      display: block;
    }
    /* line 702, dev/sass/utils/media.scss */
    .detail-card.info .media,
    .detail-card.info .description-block {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
      width: 100%;
    }
    /* line 707, dev/sass/utils/media.scss */
    .detail-card.info .media .card-container,
    .detail-card.info .description-block .card-container {
      padding: 0;
    }
    /* line 714, dev/sass/utils/media.scss */
    .detail-card.info .media .card-slider-box .img-item img {
      width: 100%;
    }
    /* line 721, dev/sass/utils/media.scss */
    .detail-card.info .media a.video-yt img {
      width: 100%;
    }
    /* line 728, dev/sass/utils/media.scss */
    .detail-card.info .description-block .card-container {
      padding: 20px 0px 20px 0;
    }
    /* line 731, dev/sass/utils/media.scss */
    .detail-card.info .description-block .card-container > div {
      margin-top: 10px;
    }
  }

@media screen and (max-width: 550px) {
    .detail-card{
        &.info {
            .media {
                .card-img-list {
                    li {
                        width: calc( 25% - 10px);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .detail-card{
        &.info {
            .media {
                .card-img-list {
                    li {
                        width: calc( 33.33% - 10px);
                    }
                }
            }
        }
    }
}
  
//   @media screen and (max-width: 600px) {
//     /* line 742, dev/sass/utils/media.scss */
//     .detail-card.info {
//       display: block;
//     }
//     /* line 750, dev/sass/utils/media.scss */
//     .detail-card.info .media .table li .name,
//     .detail-card.info .description-block .table li .name {
//       display: inline-block;
//       padding: 10px;
//       width: 40%;
//       border-right: 1px solid #D6D9E4;
//       font-weight: bold;
//       line-height: 140%;
//       color: #4F4F4F;
//     }
//     /* line 760, dev/sass/utils/media.scss */
//     .detail-card.info .media .table li span,
//     .detail-card.info .description-block .table li span {
//     //   display: block;
//     //   width: 100%;
//     }
//     /* line 771, dev/sass/utils/media.scss */
//     .detail-card.info .description-block .table li span.name,
//     .detail-card.info .description-block .table li span.value {
//     //   display: block;
//     //   width: 100%;
//     //   border: 0;
//     }
//     /* line 782, dev/sass/utils/media.scss */
//     .detail-card.info .media .card-slider-box .img-item img {
//       width: 100%;
//     }
//     /* line 789, dev/sass/utils/media.scss */
//     .detail-card.info .media a.video-yt img {
//       width: 100%;
//     }
//   }
  
// @media screen and (max-width: 500px) {
//     .detail-card{
//         &.info {
//             .media {
//                 .card-img-list {
//                     display: none;
//                 }
//             }
//         }
//     }
// }