$global_font_size: 14px;

.container {
    .title-row {
	    padding-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .page-title-wrap,
        .catalog-search {
            width: 50%;
        }

        .page-title-wrap {
            &.detail {
                width: 100%;
            }
        }
        .catalog-search {
            form.search {
                display: flex;
                border: 1px solid #D6D9E4;
                padding: 3px;

                .search-input {
                    position: relative;
                    width: 100%;
                    .icon {
                        position: absolute;
                        width: 24px;
                        height: 24px;
                        top: 50%;
                        left: 10px;
                        transform: translateY(-50%);
                        fill: #F09813;
                        
                    }
                }

                input {
                    border: 0;
                }
            }
            input[type=text] {
                width: 100%;
                height: 100%;
                padding-left: 50px;
            }
            input {
                outline: none;
            }

        }

    }
}

.filter-title {
    background-color: #EBF2FA;
    padding: 8px;
    margin: 0 0 1px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
        padding: 15px;
        font-family: Play;
        font-size: 20px;
        line-height: 110%;
    }
}

.input-wrap {
    label {
        display: flex;
        align-items: center;
        margin-right: 30px;
    }
    .jq-checkbox {
        margin-right: 10px;
        min-width: 16px;
    }
    .jq-checkbox.checked {
        background-color: #008cc8;
        border: 0;
        box-shadow: none;

        .jq-checkbox__div {
            border-bottom: 2px solid #fff;
            border-left: 2px solid #fff;
            margin: 5px 0 0 5px;

        }
    }
    
}

.catalog-items--list {
    padding: 30px 0;
    margin-left: 10px;
    .cards{

        &__item {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px 0;
            border-top: 1px solid #EBF2FA;
            border-bottom: 1px solid #EBF2FA;
            margin: 0;
            flex-wrap: nowrap;

            &:hover {
                border-top: 1px solid #FCAC34;
                border-bottom: 1px solid #FCAC34;
            }

            .col-1 {
                flex-basis: 33%;
                .title {
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 131.19%;
                    color: #4F4F4F;
                    padding: 10px 0;

                    text-decoration: none;

                    &:hover {
                        color: #009FE4;
                    }
                }

                .amount {
                    padding: 10px 0;

                    .amount-text {
                        font-size: 12px;
                        line-height: 140%;
                        color: #A8A8A8;
                    }

                    .status {
                        margin-left: 5px;
                        border: 1px solid #219653;
                        color: #219653;
                        padding: 5px 10px;

                        &.not-avail {
                            border: 1px solid #ff7373;
                            color: #ff7373;
                        }

                    }
                }
            }
            .col-2 {
                flex-basis: 10%;

                .prev-pic {
                    margin: auto;
                    width: 150px;
                    height: 100px;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    img {
                        max-height: 80px;
                        margin: auto;
                        display: block;
                    }
                }
            }

            .col-3 {
                flex-basis: 30%;
                padding: 0px 8px;

                .prop:not(:last-child) {
                    border-bottom: 1px solid #EBF2FA;
                }
                .prop {
                    padding: 10px;
                    font-size: 13px;
                    span {
                        display: inline-block;
                    }

                    .name {
                        width: 60%;

                        color: #A8A8A8;
                    }

                    .value {
                        width: 40%;

                        color: #009FE4;
                    }
                }
            }

            .col-4 {
                flex-basis: 20%;

                .control {
                    background: #EBF2FA;
                    border-radius: 7px;
                    padding: 20px 25px;

                    .price {
                        font-size: 18px;
                        text-align: center;
                        color: #424242;
                        padding-bottom: 20px;
                    }
                    .count-buy {
                        display: flex;
                        justify-content: center;
                        .btn-buy a:active {
                            box-shadow: 1px 1px 72px -24px rgba(0, 0, 0, 0.75) inset;
                        }
                    }
                    .counter {
                        position: relative;
                        width: 80px;
                        margin-right: 5px;


                        input {
                            width: 100%;
                            height: 100%;
                            border: 0;
                            padding: 10px;
                            padding-right: 30px;
                            color: #4F4F4F;
                        }
                        .ctn-btn {
                            position: absolute;
                            right: 0;
                            top: 0;

                            i {
                                background-color: #EBF2FA;
                                display: block;
                                width: 14px;
                                height: 1px;
                                margin: auto;
                            }

                            button {
                                display: block;
                                background-color: #fff;
                                border: 0;

                                &:focus {
                                    outline: none;
                                }
                                svg {
                                    width: 10px;
                                    height: 10px;
                                    fill: #FCAC34;
                                }
                                &.up {
                                    height: 17px;
                                    width: 25px;
                                }

                                &.down {
                                    height: 17px;
                                    width: 25px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}




//catalog-2
@media screen and (max-width: 1200px){
    .catalog-items--list {
        .cards{
            &__item {
                flex-wrap: wrap;
            }
        }
    }

    .catalog-items--list .cards__item {
         .col-1 {
            flex-basis: 100%;
         }

        .col-3 {
            flex-basis: 50%;
        }
    }
}

@media screen and (max-width: 1170px){
    .catalog-items--list .cards__item {
        .column {
           flex-basis: 50%;
        }

        .col-2 {
            padding: 20px 0;
        }
    }

}

// @media screen and (max-width: 1130px){
//     .container {
//         .title-row {
//             .page-title {
//                 width: 30%;
//             }
//             .catalog-search {
//                 width: 70%;
//             }
//         }
//     }
    
// }

@media screen and (max-width: 1100px){
    .catalog-search,
    .container .title-row .page-title-wrap {
        width: 100%;
    }
    .page__sidebar {
        width: 30%;
    }
    .catalog__content {
        width: calc( 70% - 25px );
    }
}





@media screen and (max-width: 1100px){
    .container {
        .title-row {
            display: block;
            .page-title {
                width: 100%;
            }
            .catalog-search {
                width: 100%;
            }
        }
    }
    
}

@media screen and (max-width: 1000px){
    .page__sidebar {
        width: 100%;
    }
    .catalog__content {
        width: 100%;
    }
}






@media screen and (max-width: 510px) {
    .catalog-items--list .cards__item .column {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
    }
    .catalog-items--list .cards__item .col-3 {
      padding: 0;
    }
    .catalog-items--list .cards__item .col-3 .prop {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
}
// @media screen and (max-width: 800px){
//     .catalog-items--list .cards__item {
//         .column {
//            flex-basis: 100%;
//         }

//         .col-3 {
//             padding: 0;

//             .prop {
//                 display: flex;
//                 flex-wrap: wrap;
//             }
//         }
//     }
// }

// @media screen and (max-width: 650px){
//     .filter-title {
//         display: block;

//         .filter-input {
//             padding: 10px 30px;
//         }

        
//     }
//     .input-wrap {
//         .ct-wrap {
//             li {
//                 flex-basis: 50%;
//             }
//         }
//     }

// }

// @media screen and (max-width: 500px){
//     .input-wrap {
//         .ct-wrap {
//             li {
//                 flex-basis: 100%;
//             }
//         }
//     }

// }


