$global_font_size: 14px;
$container_width: 1240px;

.page {
    &__container {
        display: flex;
        // padding: 50px 0 0;
    }
}

.page {
    &__container {
        display: flex;
        // padding: 50px 0 0;
    }

    &__sidebar {
        max-width: 264px;
  width: 100%;
  margin-right: 30px;


        .ct-wrap {
            background-color: #009FE4;
            text-transform: uppercase;
            font-weight: bold;
            color: #fff;
        }

        .ct-title {
            font-size: 16px;
            padding: 16px 20px;
            font-weight: bold;
        }
        
        .ct-sect {
            &.autoparts {
                max-height: 600px;
                overflow-y: auto;
            }
            

            .mCSB_inside > .mCSB_container {
                margin-right: 0;

                
            }
            .mCSB_dragger_bar {
                background-color: #F09813 !important;
            }

            li.item.selected {
                background-color: #49B5E3;
                border: 1px solid #49B5E3;
            }

            &>li,
            .mCSB_container > li {
                background-color: #008cc8;
                border: 1px solid #008cc8;
                position: relative;

                &:hover {
                    background-color: #49B5E3;
                    border: 1px solid #49B5E3;
                }
                


                &.open {
                    background-color: #49B5E3;
                }

                &.drop {
                    &.open {
                        .list-sect {
                            border-left: 4px solid #F09813;
                            &::after {
                                transition: transform 0.5s;
                                transform: rotate(180deg);
                            }

                            &.selected {
                                background-color: #02aef7;
                                border: 1px solid #02aef7;
                            }
                        }
                    }
                }
                .list-sect {
                    display: flex;
                    align-items: center;
                    padding: 12px 20px;
                    text-decoration: none;
                    color: #fff;

                    

                    .icon {
                        width: 40px;
                        height: 39px;
                        fill: #fff;
                    }
                    .text {
                        margin-left: 37px;
                    }
                    .arrow {
                        position: absolute;
                        height: 100%;
                        top: 0;
                        right: 0;
                        width: 65px;
                        height: 65px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        svg {
                            width: 18px;
                            height: 18px;
                        }
                    }
                    
                }
                .dropdown {
                    display: none;
                    background-color: #2AA0D2;
                    li {
                        border: 1px solid #2AA0D2;
                        a {
                            padding: 16px 38px;
                            display: flex;
                            align-items: center;
                            text-transform: none;
                            font-size: 17px;
                            color: #fff;
                            text-decoration: none;
                            
                            span {
                                width: 10px;
                                height: 2px;
                                background-color: #fff;
                                margin-right: 10px;
                            }
                        }

                        &:hover {
                            background-color: #49B5E3;
                            border: 1px solid #49B5E3;
                        }
                        
                    }
                }
                // &:hover {
                //     border: 1px solid #009FE4;
                // }
                
            }
            
        }
    }
}

.catalog-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px 0 0;

}
.cards {
    &__item {
        box-sizing: border-box;
        width: calc(33.3333% - 20px);
    }
}

.input-wrap {
    background-color: #EBF2FA;
    padding: 20px;
    margin: 0 0 0 10px;

    .ct-wrap {
        display: flex;
        flex-wrap: wrap;

        li {
            flex-basis: 100%;
            margin: 10px 0;
            max-width: 25%;
            display: flex;
            align-items: center;

            label {
                display: flex;
                align-items: center;

                span {
                    color: #4E4E4E;
                    font-size: 16px;
                    line-height: 1;
                    width: min-content;

                    &.ctn {
                        color: #00A8EB;
                        font-size: 13px;
                    }
                }
            }
            
        }
    }
}



.jq-checkbox {
    background: #FFFFFF;
    border-radius: 2px;
    margin: 0;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 66px 0;

    &__container {
        display: flex;
        border-top: 1px solid #D6D9E4;
        border-bottom: 1px solid #D6D9E4;

        padding: 10px 0;
    }

    &-prev,
    &-next {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 25px;
        height: 35px;

        svg {
            width: 25px;
            height: 25px;
        }
        
    }

    &-list {
        display: flex;

        li {
            display: flex;
            align-items: center;
            justify-content: center;

            font-weight: bold;
            font-size: 14px;
            line-height: 140%;
            color: #D6D9E4;
            width: 50px;
            height: 35px;

            a {
                color: #424242;
                text-decoration: none;
            }

            &.active {
                a {
                    color: #009FE4;
                }
            }
            
        }

        li:not(:last-child) {
            border-right: 1px solid #D6D9E4;
        }
    }
}


// catalog
@media screen and (max-width: 1220px){

    .cards {
        &__item {
            width: calc(50% - 20px);
        }
    }

    .input-wrap {
        .ct-wrap {
            li{
                max-width: 33.33%;
            }
        }
    }

}

@media screen and (max-width: 1000px){

    .page {
        &__container {
            display: block;
            padding: 0;
        }

        &__sidebar {
            max-width: none;
            margin-bottom: 30px;
            .ct-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .btm-burger {
                    width: 60px;
                    display: inline-block;
                    padding: 10px 0;

                    span {
                      right: 0;
                      background-color: #fff;
                  
                      &::after {
                        content: '';
                        width: 30px;
                        height: 3px;
                        background-color: #fff;
                        display: inline-block;
                        position: absolute;
                        transition: 0.5s;
                        transform: translateY(-10px);
                        left: 0;
                      }
                  
                      &::before {
                        content: '';
                        width: 30px;
                        height: 3px;
                        background-color: #fff;
                        display: inline-block;
                        position: absolute;
                        transition: 0.5s;
                        transform: translateY(10px);
                        left: 0;
                      }
                    }
                    &.active {
                      span {
                          height: 0;
                          &::before {
                              transform: rotate(45deg); 
                          }
                  
                          &::after {
                              transform: rotate(-45deg);   
                          }
                      }
                    }
                }
            }
            .ct-sect {
              display: none;
            }
        }

        &__content {
            width: 100%;
        }

        &-filter {
            .ct-wrap {
                li {
                    flex-basis: 33.3333%;
                }
            }
        }

        &-filter,
        &-items {
            margin: 0;
        }
    }

    
}

@media screen and (max-width: 850px){
    .catalog {

        &-filter {
            .ct-wrap {
                li {
                    flex-basis: 50%;
                }
            }
        }
    }

    .input-wrap {
        .ct-wrap {
            li{
                max-width: 50%;
            }
        }
    }
}
@media screen and (max-width: 650px){
    .container {
        padding: 0 15px;
    }

    .cards {
        &__item {
            width: 100%;
        }
    }


    .pagination {
        
        &-prev,
        &-next {
            width: 25px;
            height: 30px;
        }
    
        &-list {
            li {
                font-size: 14px;
                width: 30px;
                height: 28px;
            }
        }
    }

    .input-wrap {
        .ct-wrap {
            li{
                max-width: 100%;
            }
        }
    }
}

@media screen and (max-width: 500px){

    .catalog {

        &-filter {
            .ct-wrap {
                li {
                    flex-basis: 100%;
                }
            }
        }
    }
}

// card
@media screen and (max-width: 1630px){
    .detail-card{
        &.info {
            .description-block {
                .props {
                    li {
                        flex-basis: calc( 50% - 15px);
                        margin-top: 10px;
                    }
                    
                }
            }
        }
    }

}

@media screen and (max-width: 1280px){
    .detail-card{
        &.info {
            .description-block {
                .buttons {
                    display: block;
                    button {
                        margin-top: 15px;
                    }
                }
                .props {
                    display: block;
                    li {
                        flex-basis: calc( 33.33% - 15px);
                        border-right: 1px solid #F09813;
                    }
                    
                }
            }
        }
    }

}

@media screen and (max-width: 800px){
    .detail-card{
        &.info {
            display: block;

            .media,
            .description-block {
                flex-basis: 100%;
                width: 100%;

                .card-container {
                    padding: 0;
                }
            }
            .media {
                .card-slider-box {
                    .img-item {
                        img {
                            width: 100%;
                        }
                    }
                }
                a {
                    &.video-yt {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
            .description-block {
                .card-container {
                    padding: 20px 0px 20px 0;

                    > div {
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px){
    .detail-card{
        &.info {
            display: block;

            .media,
            .description-block {
                
                .table {
                    font-size: 14px;
                    li {

                        .name {
                            display: inline-block;
                            padding: 16px;
                            width: 40%;
                            border-right: 1px solid #D6D9E4;
                            font-weight: bold;
                            line-height: 140%;
                            color: #4F4F4F;
                        }

                        span {
                            // display: block;
                            // width: 100%;
                        }
                    }
                }
            }

            .description-block {
                
                .table li {

                    span.name,
                    span.value {
                        // display: block;
                        // width: 100%;
                        border: 0;
                    }
                }
            }
            .media {
                .card-slider-box {
                    .img-item {
                        img {
                            width: 100%;
                        }
                    }
                }
                a {
                    &.video-yt {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}