.contacts {
	.right-container.right-container.right-container {
		margin-top: 0;
	}

	.left-container {
		margin-top: 15px;
	}

	.static-page {
		opacity: 1;
	}
}

.wf50 {
	flex-basis: 50%;
}

.h3 {
	font-weight: bold;
	font-size: 16px;
	line-height: 141%;
	text-transform: uppercase;
}

.contacts__content {
	margin-bottom: 60px;
}

.color-black.color-black {
	color: #333;
	opacity: 1;
}

.contacts__info {
	p {
		font-size: 16px;
		line-height: 150%;
		color: #4f4f4f;
		opacity: 0.85;
	}
}

.contacts__block {
	display: flex;
	margin-bottom: 35px;

	.contacts-list__contact {
		margin-right: 25px;

		&:not(:last-child) {
			margin-bottom: 25px;
		}
	}
}

.contacts__block-cell {
	&:not(:last-child) {
		margin-right: 30px;
	}
}

.contacts__block-cell--grafik {
	width: 250px;
	flex-shrink: 0;
}

.contacts__block-contacts {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	max-width: 500px;
}

.table--min.table--min.table--min {
	li {
		padding-left: 0;
		padding-top: 12px;
		padding-bottom: 14px;

		&::before {
			display: none;
		}

		span {
			padding-top: 0;
			padding-bottom: 0;
		}

		.value {
			padding-left: 25px;
		}
	}
}

@media (max-width: 1000px) {
	.contacts {
		.left-container.left-container.left-container.left-container {
			margin-bottom: 50px;
		}

		.right-container.right-container.right-container {
			border-left: none;
		}
	}
}

@media (max-width: 550px) {
	.contacts__block {
		display: block;
	}
	.contacts__block-cell {
		width: 100%;

		&:not(:last-child) {
			margin-right: 0;
			margin-bottom: 30px;
		}
	}
	.h3 {
		font-size: 15px;
	}
	.contacts__info {
		p {
			font-size: 14px;
		}
	}
}
