$global_font_size: 14px;
$container_width: 1240px;


body {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: $global_font_size;
	line-height: 141%;
	color: #333333;
}


.container {
	width: 100%;
	max-width: $container_width;
	margin: auto;
}

.btn {
	&.blue-grad {
		display: flex;
		flex-direction: column;
		padding: 10px 24px;

		font-family: Play;
		font-size: 14px;
		line-height: 110%;

		text-transform: uppercase;

		color: #FFFFFF;
		border: 0;
		height: 100%;
		background: linear-gradient(90deg, #2C73EF 0%, #00A8EB 100%);
		text-decoration: none;

	}

	&.gray {
		display: flex;
		flex-direction: column;
		padding: 10px 24px;

		font-family: Play;
		font-size: 14px;
		line-height: 110%;

		text-transform: uppercase;

		color: #333333;
		background: none;
		background-color: #F2F2F2;
		margin-left: 15px;
		border: 0;

		text-decoration: none;
	}
}

.text-page{
	padding-top: 34px;
	padding-bottom: 15px;


	.breadcrumbs {
		.bx-breadcrumb {
			display: flex;
			flex-wrap: wrap;
			
			.bx-breadcrumb-item {
				a {
					padding-right: 40px;
					position: relative;
					color: #10A1E3;
					font-size: 14px;
	
					&::after {
						content: '';
						width: 16px;
						height: 2px;
						top: 50%;
						right: 12px;
						position: absolute;
						background-color: #F09813;
					}
				}
	
				// span {
				// 	text-transform: lowercase;
				// }
			}
		}
	
	}
}


.page-title {
	h1 {
		font-family: Play;
		font-weight: bold;
		font-size: 25px;
		text-transform: uppercase;
		padding: 14px 0;
	}
}


.main-slider {
	display: flex;
	margin-top: -1px;

	&__control {
		display: inline-block;
		width: 19%;
		margin: 0;
		height: auto;

		.control {
			&__box {
				border: 1px solid #1FABE7;
				height: calc(100% - 36px);
				margin: 18px 0;
				padding: 5% 25px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				
				.slide_line {
					
					border-right: none;
					box-sizing: border-box;
					display: flex;
					align-items: center;
				}
				
			}
			&__item {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;

				width: 100%;
				height: 100%;
			}
			&__title {
				font-family: Play;
				font-weight: bold;
				font-size: 20px;
				line-height: 110%;

				letter-spacing: -0.02em;
				text-transform: uppercase;

				color: #424242;
			}

			&__text {
				font-family: Play;
				font-size: 14px;
				line-height: 110%;

				padding: 5% 0;

				color: #4F4F4F;
			}

			&__btn {
				border: 0;
				padding: 5% 8%;
				background: linear-gradient(90deg, #0097DE 0%, #50CBF8 100%);
				margin: 15% 0;
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				text-decoration: none;

				span {
					&.text {
						font-family: Play;
						font-size: 12px;
						line-height: 110%;

						text-transform: uppercase;

						color: #FFFFFF;
					}

					&.icon {
						display: inline-block;
						border-radius: 13.5px;
						width: 16px;
						height: 16px;
						border: 1px solid #FFF;

						svg {
							fill: #fff;
							width: 100%;
							height: 10px;
							margin-top: 50%;
							transform: translatey(-50%);
							padding: 1px;
						}
					}
					
				}
			}

			&__dots {
				display: flex;
				justify-content: space-around;
				align-items: center;
				margin-top: 10%;
				// padding: 5% 35px;
				.slick-dots {
					position: inherit;
				}

				&::before {
					content: '';
					width: 33px;
					height: 2px;
					margin-top: 3%;
					background: linear-gradient(259.67deg, #F09813 -3.54%, #FBD036 95.83%);
				}
				li {

					&.slick-active {
						button {
							width: 8px;
							height: 8px;
							background-color: #a9abb1;
						}
					}
					button {

						width: 6px;
						height: 6px;
						background-color: #DDDFE4;
						border: 0;
						padding: 0;
					}
				}
				
			}
		}

	
	}
	&__wrapper {
		width: calc(100% - 19%);
		position: relative;

		.slick-dotted.slick-slider {
			margin: 0;
		}
	}

	&__img {
		padding-top: 50%;
		background-repeat: no-repeat !important;
		background-size: cover !important;
		background-position-x: right !important;
	}

	&__item {
		width: 100%;
		img {
			display: none;
		}
	}
}

.main-catalog-slider {
	padding: 30px 0;

	.slider-title {
		font-family: Play;
		font-weight: bold;
		font-size: 35px;
		line-height: 110%;

		text-transform: uppercase;

		color: #424242;
	}


	.slider-title {
		display: flex;

		.arrows {
			margin-left: 70px;
			display: flex;
			align-items: center;
			
			.arrow-prev svg {
				width: auto;
				max-width: 25px;
				height: 25px;
				padding: 4px 0;
				cursor: pointer;
				fill: #424242;
			}

			& > i {
				display: inline-block;
				width: 30px;
				height: 2px;
				background-color: #D6D9E4;
				transform: rotate(90deg);
			}

			.arrow-next svg {
				width: 25px;
				height: 25px;
				padding: 4px 0;
				cursor: pointer;
				fill: #424242;
			}
		}
	}

	.slider-box {
		width: 100%;
		margin: 50px 0;

		.slick-track {
			padding-bottom: 15px;
		}
	
		.slick-list {
			width: 100%;
		}

		
	}
}

.cards {
	&__img {
		.img-wrap{
			max-width: 240px;
			display: block;
			margin: auto;
			margin-top: -15px;
			border-radius: 5px;
			width: 90%;
			min-height: 195px;
			height: 100%;
			width: auto;
			overflow: hidden;
			position: relative;
			
			.stickers {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				padding: 10px;
				z-index: 1;

				span {
					color: #ffff;
					padding: 3px 4px;
					margin: 3px;
					border-radius: 4px;
					&.avail {
						background-color: #219653;
					}
					&.not-avail {
						background-color: #4F4F4F;
					}

					&.new {
						background-color: #F2C94C;
					}

					&.order {
						background-color: #F2994A;
					}

					&.sale {
						background-color: #EB5757;
					}
				}
			}

			img {
				transition: 1s;
				border-radius: 5px;
				width: 100%;

				&:hover {
					transform: scale(1.1);
				}

			}
		}
	}


	&__item {
		padding: 15px 0;
		&-wrap {
			width: 100%;
			border: 1px solid #D6D9E4;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			&:hover {
				box-shadow: 0px 0px 25px rgba(2, 9, 21, 0.1);
			}
		}

		

		&:focus {
			outline: 0;
		}
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin: 15px 10px 0 10px;
		position: relative;

		box-sizing: border-box;
	}

	&__title {
		a {
			color: #4F4F4F;
			text-decoration: none;

			&:hover {
				color: #008cc8;
			}
		}
		font-weight: bold;
		font-size: 14px;
		line-height: 140%;
		text-align: center;
		padding-top: 15px;
		min-height: 66px;
		padding-left: 20px;
		padding-right: 20px;
	}

	&__props {
		display: flex;
		flex-wrap: wrap;
		padding: 10px 0;

		.props-item {
			width: 50%;
			display: inline-block;

			font-size: 14px;
			line-height: 140%;
			color: #4F4F4F;

			// padding: 5px 5px;
			text-align: center;
		}
	}

	&__bottom {
		display: flex;
		width: 100%;
		border-top: 1px solid #D6D9E4;


		.bottom-price {
			width: 50%;
			padding: 25px 5px;
			text-align: center;
			border-right: 1px solid #D6D9E4;
		}

		.bottom-btn-more {
			width: 50%;
			text-decoration: none;
			background: #fff;
			display: flex;
			justify-content: center;
			align-items: center;

			font-weight: bold;
			font-size: 14px;
			line-height: 140%;

			color: #424242;

				.arrow {
					padding-left: 10px;
					svg {
						width: 17px;
						height: 15px;
						margin-bottom: -3px;
					}
					
				}

				&:hover {
					background: linear-gradient(90deg, #0097DE 0%, #50CBF8 100%);
					color: #fff;
					.arrow {
						svg {
							fill: #fff;
						}
						
					}
				}
			// }
			
		}
	}
}

.desc-top {

	padding: 10px 0;

	&__title {
		padding: 15px 0;

		font-family: Play;
		font-weight: bold;
		font-size: 55px;
		line-height: 110%;

		text-transform: uppercase;
		
		color: #D9E1EA;
	}

	&__text {
		padding: 5px 0;
		font-size: 14px;
		line-height: 150%;

		color: #4F4F4F;
		opacity: 0.85;
	}
}

.desc-bottom {
	background-color: #FFFFFF;
	display: flex;

	.content {
		border-right: 1px dashed #D6D9E4;

		&__wrapper {
			padding: 15px 14px 15px 0;
		}

		&__title {
			font-weight: bold;
			font-size: 15px;
			line-height: 140%;

			color: #4F4F4F;
		}

		&__text {
			padding: 15px 0;

			font-size: 14px;
			line-height: 150%;

			color: #4F4F4F;
			opacity: 0.85;
		}

		&__link {
			font-size: 14px;
			line-height: 150%;

			a {
				display: flex;
				color: #424242;
				text-decoration: none;

				span {
					position: relative;
					display: inline-block;
					width: 20px;
					height: 20px;
					border-radius: 50%;
					background: linear-gradient(90deg, #0097DE 0%, #50CBF8 100%);

					margin-left: 10px;

					svg {
						position: absolute;
						left: 50%;
						top: 50%;
						margin-left: -5px;
						margin-top: -5px;
						width: 10px;
						height: 10px;
						fill: #fff
					}
				}
			}
		}
	}
}

.main-about {
	display: flex;
	justify-content: center;
	padding: 60px 0;

	& > div {
		width: 50%;
	}

	.content {
		padding: 50px 0;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		&-container {
			max-width: calc(1637px / 2);
			padding-right: 60px;

			
		}
		.content-wrap {
			position: relative;
			padding-right: 80px;
			& > span {
				position: absolute;
				background: #2b75ef;

				&:nth-child(1) {
					right: 0;
					top: 0;
					width: 9px;
					height: 1px;
				}

				&:nth-child(2) {
					right: 0;
					top: 0;
					width: 1px;
					height: 9px;
				}

				&:nth-child(3) {
					right: 0;
					bottom: 0;
					width: 9px;
					height: 1px;
				}

				&:nth-child(4) {
					right: 0;
					bottom: 0;
					width: 1px;
					height: 9px;
				}
			}
		}

		.title {
			font-family: Play;
			font-weight: bold;
			font-size: 34px;
			line-height: 110%;

			text-transform: uppercase;

			color: #424242;
		}

		.text {
			padding: 20px 0;

			font-size: 14px;
			line-height: 150%;

			color: #4F4F4F;
			opacity: 0.85;
		}
		
		&__link {
			font-size: 14px;
			line-height: 150%;

			a {
				display: flex;
				color: #424242;
				text-decoration: none;

				span {
					position: relative;
					display: inline-block;
					width: 20px;
					height: 20px;
					border-radius: 50%;
					background: linear-gradient(90deg, #0097DE 0%, #50CBF8 100%);

					margin-left: 10px;

					svg {
						position: absolute;
						left: 50%;
						top: 50%;
						margin-left: -5px;
						margin-top: -5px;
						width: 10px;
						height: 10px;
						fill: #fff
					}
				}
			}
		}
		
	}
	

	.about-banner {
		display: flex;
		align-items: center;
		img {
			width: 100%;
		}
	}

	& > div {
		width: 50%;
	}
}

.main-catalog-sec {
	display: flex;
	background: #EBF2FA;
}

.sections {
	display: flex;
	flex-wrap: wrap;
	margin-right: 35px;

	border: 1px solid #EBF2FA;
	background: #fff;
	box-sizing: border-box;

	&__item {
		max-width: 446px;
		width: 33.3333%;
		padding: 20px 60px;
		display: inline-block;
		text-decoration: none;

		&:hover {
			background: linear-gradient(90deg, #0097DE 0%, #50CBF8 100%);
			transition: 1s;
			text-decoration: none;

			.icon {
				display: block;
				padding: 10px 0;
		
				svg {
					path {
						fill: #FFF;
					}
				}
		
			}

			.title,
			.text {
				color: #FFF;
			}
		}

		.icon {
			display: inline-block;
			padding: 10px 0;
	
			svg {
				height: 45px;
				width: 100px;
				fill: #F09813;
			}
	
		}
	
		.title,
		.text {
			font-size: 14px;
			line-height: 141%;
	
			color: #4F4F4F;
			opacity: 0.85;
	
			// padding: 15px 0;
		}
	
		.title {
			border-top: 1px solid #F2F2F2;
			
			b {
				font-weight: bold;
			}
		}
		
	}

	
		
}

.banner {
	display: flex;
	align-items: center;
	padding: 0 10px;
	width: 45%;
	position: relative;

	&::after {
		content: '';
		background: #EBF2FA;
		position: absolute;
		width: calc((100vw - 1240px - 18px) / 2);
		height: 100%;
		left: 100%;
		top: 0;
	}

	&__wrap {
		width: 303px;
		height: 419px;
		
	}
	
}

.desc-bottom {
	position: relative;
	display: flex;
	background-color: #FFFFFF;
	align-content: space-between;

	&::before {
		content: '';
		background-color: #FFFFFF;
		position: absolute;
		height: 100%;
		width: 100%;
		right: 100%;
	}

	.content {
		flex-basis: 66.6666%;
	}
	.file {
		max-width: 247px;
		flex-basis: 33.3333%;

		&__wrapper {
			padding: 10px 20px;
			& > div {
				margin: 20px 0;
			}
		}


		&__icon {
			display: block;
			width: 40px;
			height: 40px;
			fill: #FCAC34;

			svg {
				width: 100%;
				height: 100%;
			}
		}
		&__title {
			h5 {
				font-weight: bold;
				font-size: 15px;
				line-height: 141%;
				color: #4F4F4F;
			}
			
		}

		&__desc {
			font-size: 14px;
			line-height: 141%;

			color: #4F4F4F;
		}
	}
}

.adv__sect{
	background-color: #F9FCFF;

	.main-adv {
		display: flex;
		padding: 50px 0;
	
		&>div {
			width: 50%;
		}
	
		.adv-descr {
			display: flex;
			flex-wrap: wrap;
			align-content: space-between;
			padding-right: 45px;
		}	
		
	}
}

.advantages {
	width: 50%;
	display: flex;
	flex-wrap: wrap;

	&__item {
		width: calc(100%/3);
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		border: 1px solid #D6D9E4;
		box-sizing: border-box;
		background-color: #FFFFFF;
		padding: 30px 0;
	}

	.adv-content {

		&__icon {
			width: 85px;
			height: 85px;
			position: relative;
			margin: auto;
			display: flex;
			justify-content: center;
			align-items: center;

			span {
				position: absolute;
				background: #2b75ef;

				&:nth-child(1) {
					left: 0;
					top: 0;
					width: 9px;
					height: 1px;
				}

				&:nth-child(2) {
					left: 0;
					top: 0;
					width: 1px;
					height: 9px;
				}

				&:nth-child(3) {
					right: 0;
					top: 0;
					width: 9px;
					height: 1px;
				}

				&:nth-child(4) {
					right: 0;
					top: 0;
					width: 1px;
					height: 9px;
				}

				&:nth-child(5) {
					right: 0;
					bottom: 0;
					width: 9px;
					height: 1px;
				}

				&:nth-child(6) {
					right: 0;
					bottom: 0;
					width: 1px;
					height: 9px;
				}

				&:nth-child(7) {
					left: 0;
					bottom: 0;
					width: 9px;
					height: 1px;
				}

				&:nth-child(8) {
					left: 0;
					bottom: 0;
					width: 1px;
					height: 9px;
				}
				
			}

			svg {
				width: 100%;
				height: 100%;
				padding: 20px;

				fill: #FCAC34;
			}
		}

		&__title {
			text-align: center;
			padding: 15px 15px 0px 15px;
		}
	}
}


// @media screen and (max-width: 1645px){
// 	.cards {
// 		&__img {
// 			.img-wrap{
// 				max-width: 280px;
				
// 			}
// 		}
// 	}
// }

@media screen and (max-width: 1300px){
	.container {
		padding: 0 20px;
	}
}



// // main-slider

@media screen and (max-width: 1300px) and (min-width: 950px){
    .main-slider {
        &__control {

            .control {
                
                &__title {
                    font-size: 20px;
                }
                &__text {
                    font-size: 14px;
                }
                &__btn {
                    span {
                        &.icon {
                            display: none;
                        }
                    }
                }

                
            }
        }
    }
}
@media screen and (max-width: 950px){
    .main-slider {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        height: auto;

        &__control {
            display: block;
            width: 100%;

            .control {
                &__box {
                    border-right: 1px solid #1FABE7;
					border-top: none;
					padding: 1% 25px;
                }

                &__item {
                    padding: 0;
                }
                &__text {
                    padding: 2% 0;
                }
                &__btn {
                    margin: 20px 12%;
                    padding: 3% 5%;
                    span {
                        &.icon {
                            // display: none;
                        }
                    }
                }

                &__dots {
                    margin-top: 0;
                }
            }
        }

        &__wrapper {
            width: 100%;
            .slick-dotted.slick-slider {
                margin-bottom: 0;
            }
        }

        &__item {
            background-repeat: no-repeat !important;
            background-size: 100% !important;
            height: 100%;
            img {
                display: block;
            }
        }
    }
    

}

@media screen and (max-width: 400px){
    .main-slider {
        &__control {
            .control {
                &__title {
                    font-size: 15px;
                }
                &__text {
                    font-size: 13px;
				}
			}
		}
	}
}

// main-catalog-slider
@media screen and (max-width: 800px){
    .main-catalog-slider {
        .slider-title {
            display: block;
            span {
                display: block;
                font-size: 35px;
                text-align: center;
                padding: 10px 0;
            }
            

            .arrows {
                justify-content: space-around;
                margin: 0;
            }
        }
    } 
}

@media screen and (max-width: 440px){
    .main-catalog-slider {
        .slider-title {
            span {
                font-size: 26px;
            }
        }

        .slider-box {
            &__img {
                img {
                    max-width: 280px;
                }
            }

            &__title {
                padding-left: 15px;
                padding-right: 15px;
            }
		}
		.cards__bottom {
            .bottom-btn-more {
				font-size: 14px;
			}
		}
    }
}

@media screen and (max-width: 350px){
    .main-catalog-slider {
        .slider-box {
            &__img {
                img {
                    max-width: 250px;
                }
            }
        }
        .cards__bottom {
            .bottom-btn-more {
				font-size: 14px;
                .arrow {
                    display: none;
                }
            }
        }
    }
}



// advantages
@media screen and (max-width: 1200px){
    .adv__sect {
        .main-adv {
            flex-wrap: wrap;
    
            .adv-descr,
            .advantages {
                width: 100%;
            }

            .adv-descr {
                padding-right: 0;
                margin-bottom: 20px;
            }
        }
    }
    
}

@media screen and (max-width: 720px){
    .adv-descr {

        .desc-bottom {
            flex-wrap: wrap;

            .content {
                flex-basis: 100%;
                border-right: 0;
                // width: 100%;
            }
            .file {
                flex-basis: 100%;
                border-top: 1px dashed #D6D9E4;
                max-width: none;
            }
        }
    }
}

@media screen and (max-width: 650px){
    .advantages {
        &__item {
            width: calc(100% / 2);
        }
    }

    .desc-top {
        &__title {
            font-size: 60px;
        }
    }
}

@media screen and (max-width: 450px){
    .advantages {
        &__item {
            width: 100%;
        }
    }

    .desc-top {
        &__title {
            font-size: 40px;
            padding: 0;
        }
    }
}

// main-about

@media screen and (max-width: 1200px){
	.main-about {
        .content {
            &-container {
                padding-left: 20px;
            }
        }
    }
}

@media screen and (max-width: 1000px){
    .main-about {
        flex-wrap: wrap;

        .content {
            flex-basis: 100%;

            &-container {
                max-width: none;
                padding-right: 20px;
                .content-wrap {
                    padding-right: 20px;
                }
            }
        }

        .about-banner {
            flex-basis: 100%;
        }
    }
}


// main-catalog-sec
@media screen and (max-width: 1500px){
    .main-catalog-sec {
        flex-wrap: wrap;

        .sections {
            flex-basis: 70%;
            margin-right: 0;

            &__item {
                width: 50%;
            }
        }

        .banner {
            display: flex;
            justify-content: center;
            flex-basis: 30%;
        }

    }
}

@media screen and (max-width: 1300px){
    .main-catalog-sec {
        .sections {
            &__item {
                width: 33.33%;
            }
        }

        .banner {
			flex-basis: calc( 27% - 30px );
			padding: 30px 0;
			margin-left: 37px;
        }

    }
}

@media screen and (max-width: 1000px){
    .main-catalog-sec {
        .sections {
            flex-basis: 100%;
        }

        .banner {
            flex-basis: 100%;
        }

    }
}

@media screen and (max-width: 700px){
    .main-catalog-sec {
        .sections {
            &__item {
                width: 100%;
                max-width: none;

                & > div {
                    display: block;
                    text-align: center;
                    margin: auto;
                }
            }
        }

    }
}

@media screen and (max-width: 400px){
    .main-catalog-sec {
        .banner {
            padding: 30px 30px;
        }
    }
}
