.news,
.static-page {
  color: #4F4F4F;
  opacity: 0.85;

  a {
    color: #009FE4;
    text-decoration: none;
  }

  table {
    td {
      font-size: 16px;
      padding: 10px;
    }
  }

  & > img {
    margin: auto;
  }
  ol, ul:not(.pagination-list), ul[type=disc]:not(.pagination-list) {
    li {
      line-height: 140%;
      color: #4F4F4F;
      opacity: 0.85;
      font-size: 16px;
    }
  }
  ol {
    list-style: none;
    counter-reset: list;
    li {
      padding-left: 30px;
      position: relative;
      line-height: 1;
      padding: 10px 0 10px 30px;
      &::before {
        counter-increment: list;
        content: counter(list);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 24px;
        height: 24px;
        border: 1px solid #009FE4;
        border-radius: 50%;
        padding-top: 2px;
        padding-left: 6px;
      } 
    }
    
  }

  ul:not(.pagination-list) {
    list-style: none;
    &[type=disc] {
      li {
        padding-left: 30px;
        position: relative;
        line-height: 1;
        padding: 10px 0 10px 30px;
        font-size: 16px;

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 6px;
          background-color: #FCAC34;
          width: 6px;
          height: 6px;
          
        } 
      }
    }
    li {
      padding-left: 30px;
      position: relative;
      line-height: 1;
      padding: 10px 0 10px 30px;
      font-size: 16px;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        background-color: #FCAC34;
        width: 16px;
        height: 1px;
        
      } 
    }
    
  }
}

.page {
    b {
        font-weight: bold;
    }
}

.public-date {
    font-size: 17px;
    line-height: 141%;
    text-transform: lowercase;
    color: #828282;
}
.news {
  &.double {
      display: flex;

      .content,
      .sidebar {
          width: 50%;
      }

      .content {
          padding-right: 50px;
          p {
            line-height: 150%;
            color: #4F4F4F;
            padding: 15px 0;
          }
      }

      .left-container,
      .right-container {
        margin-top: -70px;
        
        .news-list {

            .news-item:hover {
                background-color: #EBF2FA;
            }
            .news-item {
                display: flex;
                padding: 20px 20px;
                text-decoration: none;
                background-color: #F9FCFF;
                

                .news-image {
                    width: 100%;
                    height: 100%;
                    max-width: 196px;
                    max-height: 142px;

                    margin-right: 20px;
                }
                .news-content {
                    .title {
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 150%;
                        color: #4F4F4F;
                        opacity: 0.85;
                        text-transform: none;
                        padding: 5px 0;
                    }

                    .prev-text {
                        padding: 10px 0;
                        p {
                            font-size: 16px;
                            line-height: 140%;
                            color: #4F4F4F;
                        }
                    }

                    .public-date {
                        display: inline-block;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 150%;
                        color: #4F4F4F;
                        opacity: 0.85;

                        padding: 10px 0;
                        border-top: 1px solid #F09813;
                    }
                }
            }
        }
      }
  }  
}
