.partners {
    .nashi-partnery-style {
        display: flex;

        li {
            width: 25%;
            
            padding-bottom: 10px;
            div {
                display: flex;
                flex-direction: column;
                border: 1px solid #10A1E3;
                min-height: 300px;
                justify-content: center;
                align-content: center;
                flex-wrap: wrap;
                min-height: 350px;
                padding: 20px;
            }
            span {
                color: #10A1E3;
                text-align: center;
                display: block;
                font-weight: bold;
                padding: 15px 0;
            }
        }

        li:not(last-child) {
            padding-right: 10px;
        }
    }
}

.static-page {

    .right-container,
    .left-container {
        &.sidebar {
            min-width: 370px;
            .news-list {
                .news-item {
                    &:hover {
                        .news-content {
                            .bottom-text {
                                .public-date {
                                    display: none;
                                }
                                .link {
                                    display: block;
                                }
                            }
                        }
                    }

                    
                    
                    
                    min-height: 100px;
                    margin: 10px 0;
                    .news-content {
                        .bottom-text {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            .public-date {
                                font-weight: normal;
                                border-top: none;
                                color: #009BE1;
                            }
                            .link {
                                margin: 0 10px;
                                display: none;
                            }
                        }

                        
                    }
                }
            }
        }

        .news-list {
            .news-item:hover {
                background-color: #F5F8FC;
            }
            .news-item:hover::after {
                background-color: #F5F8FC;
            }
            .news-item {
                position: relative;
                display: flex;
                padding: 20px 20px;
                text-decoration: none;
                min-height: 255px;
                height: 100%;
                background-color: #F9FCFF;
                // &::after {
                //     content: '';
                //     background-color: #F9FCFF;
                //     position: absolute;
                //     height: 100%;
                //     width: 100%;
                //     left: 100%;
                //     top: 0;
                // }

                .news-image {
                    width: 115px;
                    height: auto;
                    max-height: 142px;
                    margin-right: 20px;
                    min-width: 115px;
                }



                .news-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .title {
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 150%;
                        color: #4F4F4F;
                        opacity: 0.85;
                        text-transform: none;
                        padding-bottom: 5px;
                    }
                    .prev-text {
                        padding: 10px 0;
                        p {
                            font-size: 14px;
                            line-height: 140%;
                            color: #4F4F4F;
                        }
                    }
                    
                    .public-date {
                        display: inline-block;
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 150%;
                        color: #4F4F4F;
                        opacity: 0.85;

                        padding: 7px 0;
                        border-top: 1px solid #F09813;
                    }
                    .link {
                        margin: 0 10px;
                    }
                    
                }
            }
        }
    }  

    .pagination {
        padding-top: 0;
    }
}


// @media screen and (min-width: 1330px) and (max-width: 1550px){
//     .static-page .left-container .news-list .news-item,
//     .static-page .right-container .news-list .news-item {
//       display: block;
//     }

//     .static-page {
//         .right-container,
//         .left-container {
//             .news-list {
//                 .news-item {
//                     .news-image {
//                         max-width: none;
//                         max-height: none;
//                     }
//                 }
//             }
//         }
//     }
// }

@media screen and (max-width: 1330px){
    .container {
        .static-page {
          .double-wrap.sidebar {
            display: block;
            .left-container,
            .right-container {
              margin: 0;
              padding: 0;
            }
          }
        }
        
    }
}

// @media screen and (max-width: 1200px){
//     .partners {
//         .nashi-partnery-style {
//             flex-wrap: wrap;
//             li {
//                 width: 50%;
//             }
//         }
//     }
// }

@media screen and (max-width: 1000px){
  
    .container {
      .static-page {
        .double-wrap {
          display: block;
          .left-container,
          .right-container {
            width: 100%;
            margin: 0;
            padding: 0;
          }
        }
      }
      
    }
}

// @media screen and (max-width: 800px){
//     .partners {
//         .nashi-partnery-style {
//             flex-wrap: wrap;
//             li {
//                 width: 100%;
//             }
//         }
//     }
// }

@media screen and (max-width: 700px) {
    .services-list__cell {
      width: 100%;
    }
  }
  
@media screen and (max-width: 600px) {
    .static-page .left-container .news-list .news-item,
    .static-page .right-container .news-list .news-item {
        display: block;
    }
    .static-page .right-container .news-list .news-item .news-image,
    .static-page .left-container .news-list .news-item .news-image {
        max-width: none;
        max-height: none;
    }
}

// @media screen and (max-width: 600px){
//     // .static-page {
//     //   .left-container {
//     //     .news-item {
          
//     //     }
//     //   }
//     // } 
  
//     .static-page .left-container .news-list .news-item,
//     .static-page .right-container .news-list .news-item {
//       display: block;
//     }

//     .static-page {
//         .right-container,
//         .left-container {
//             .news-list {
//                 .news-item {
//                     .news-image {
//                         max-width: none;
//                         max-height: none;
//                     }
//                 }
//             }
//         }
//     }
// }