block footer
	footer
		div.container
			div.footer
				div.footer__logo
					img(src="./img/logo.png", alt="")
				div.footer__menu
					ul.ft-menu
						li 
							a(href="#") партнёры
								span
						li 
							a(href="#") новости
								span
						li 
							a(href="#") карта сайта
								span
						li
							a(href="#") регистрационный счёт
								span
						li
							a(href="#") контакты
								span
						li
							a(href="#") отзывы
								span
						li
							a(href="#") контакты
								span

					div.ft-soc
						span.ft-soc__text Мы в социальных сетях:
						ul.ft-soc__list
							li
								a(href="#") 
									+icon("youtube")
							li
								a(href="#")
									+icon("fb")
							li
								a(href="#")
									+icon("insta")
							li
								a(href="#")
									+icon("tw")