form.form(action='/' method='post')
    .form__header
        h2.h3.form__title Форма обратной связи
    .form__body
        .form__field
            label.field
                .field__label Ваше имя *
                input.field__input(type='text' required)
        .form__field
            label.field
                .field__label Ваше Email
                input.field__input(type='text')
        .form__field
            label.field
                .field__label Ваш телефон *
                input.field__input(type='text' required)
        .form__field
            label.field
                .field__label Сообщение
                textarea.field__input
        .form__action
            button.btn отправить сообщение