block header

  header.header
    div.container
      div.header-top
        div.hd-block
          a.msgboss(href="#")
            span.icon 
              +icon("ico-email", "")
            span.text Обратиться к директору
          div.location
            span.name-city Ваш город: 
            a.value-city(href="#") Могилёв

        div.hd-block
          //- .basket-line-wrap
          div.basket
            span.icon 
              +icon("basket", "")
            span.text
              span.basket__count в корзине 
                a.link.count-orders(href="#") 2 товара 
              span.basket__cost на сумму 
                a.link.price-total(href="#") 200 руб.
          div.order 
            button.btn-click-order Оформить
          a.personal(href="#")
            +icon("ico-personal")
            span Личный кабинет
      
      div.header-bottom
        div.mob-menu
          div.mob-menu__wrapper
        div.btm-logo
          a(href="#")
            img(src="./img/logo.png", alt="")
        div.btm-burger
          span
        div.btm-menu
          div.btm-menu__top
            div.phones
              a(href="tel:+ 78005500162") + 7 (800) 550-01-62
              a(href="tel:+ 78005500162") + 7 (800) 550-01-62
            ul.main-menu
              li
                a(href="#") Главная
                  span
              li
                a(href="#") О компании
                  span
              li
                a(href="#") Комиссия
                  span
              li
                a(href="#") Доставка
                  span
              li
                a(href="#") Контакты
                  span

          div.btm-menu__bottom
            ul.catalog-menu
              li
                a(href="#") Транспорт
                div.dropdown
                  ul.drop-col
                    li.drop-item
                      a(href="#") Пункт 1
                    li.drop-item
                      a(href="#") Пункт 1
                    li.drop-item
                      a(href="#") Пункт 1
                    li.drop-item
                      a(href="#") Пункт 1
                    li.drop-item
                      a(href="#") Пункт 1
                    li.drop-item
                      a(href="#") Пункт 1
                    li.drop-item
                      a(href="#") Пункт 1
                  ul.drop-col
                    li.drop-item
                      a(href="#") Пункт 1
                    li.drop-item
                      a(href="#") Пункт 1
                    li.drop-item
                      a(href="#") Пункт 1
                    li.drop-item
                      a(href="#") Пункт 1
                    li.drop-item
                      a(href="#") Пункт 1
                    li.drop-item
                      a(href="#") Пункт 1
                    li.drop-item
                      a(href="#") Пункт 1
                  ul.drop-col
                    li.drop-item
                      a(href="#") Пункт 1
                    li.drop-item
                      a(href="#") Пункт 1
                    li.drop-item
                      a(href="#") Пункт 1
                    li.drop-item
                      a(href="#") Пункт 1
                    li.drop-item
                      a(href="#") Пункт 1
                    li.drop-item
                      a(href="#") Пункт 1
                    li.drop-item
                      a(href="#") Пункт 1

              li
                a(href="#") Запчасти
                div.dropdown
                  ul.drop-col
                    li Пункт 1
                    li Пункт 1
                    li Пункт 1
                    li Пункт 1
                    li Пункт 1
                    li Пункт 1
                    li Пункт 1
                  ul.drop-col
                    li Пункт 1
                    li Пункт 1
                    li Пункт 1
                    li Пункт 1
                    li Пункт 1
                    li Пункт 1
                    li Пункт 1
                  ul.drop-col
                    li Пункт 1
                    li Пункт 1
                    li Пункт 1
                    li Пункт 1
                    li Пункт 1
                    li Пункт 1
                    li Пункт 1

              li
                a(href="#") Автосервис
              li
                a(href="#") Кредит и лизинг
              li
                a(href="#") Выкуп транспорта 
      
