.btn {
	padding: 17px 28px;
	background: linear-gradient(90deg, #2c73ef 0%, #00a8eb 100%);
	border: none;
	outline: none;
	font-size: 16px;
	line-height: 110%;
	text-transform: uppercase;
	color: #fff;
	transition-duration: 300ms;

	&:hover {
		opacity: 0.8;
	}
}