.contacts-list__item {
	&:not(:last-child) {
		margin-bottom: 35px;
	}
}

.contacts-list__item-caption {
	margin-bottom: 15px;
}

.contacts-list__item-grid {
	display: flex;
	flex-wrap: wrap;
	margin: -4px -8px;
}

.contacts-list__item-cell {
	padding: 4px 7px;
}

.contacts-list__contact {
	display: flex;
	align-items: center;
}

.contacts-list__contact-icon {
	width: 23px;
	height: 21px;
	text-align: center;
	margin-right: 10px;

	.icon {
		fill: #f09813;
	}

	.icon-icon__phone {
		width: 21px;
		height: 21px;
	}

	.icon-icon__email {
		width: 23px;
		height: 21px;
	}
}

.contacts-list__contact-link {
	margin-right: 10px;
	transition-duration: 300ms;

	&:hover {
		opacity: 0.8;
	}
}
