.field {
	position: relative;
	width: 100%;
	display: block;
}

.field__label {
	position: absolute;
	left: 12px;
	top: -8px;
	background-color: #fff;
	z-index: 10;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	color: #009fe4;
	padding: 0 7px;
}

.field__input {
	border-radius: 0;
	appearance: none;
	width: 100%;
	padding: 15px 19px;
	height: 55px;
	border: 1px solid #ebf2fa;
	font-size: 15px;
	line-height: 120%;
	color: #4f4f4f;
	transition-duration: 300ms;

	&:focus,
	&:hover {
		border-color: #009fe4;
	}
}

textarea.field__input {
	resize: none;
	height: 140px;
}
