$global_font_size: 14px;

.footer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	&__logo {
    	padding: 43px 0;
	}
		
	&__menu {
		margin-left: 15px;
		.ft-menu {
			display: flex;
			justify-content: flex-end;

			padding: 15px 0;
			
			border-bottom: 1px solid #D6D9E4;

			width: auto;

			li {
				padding: 0 8px;
				font-family: Play;
				font-size: $global_font_size;
				line-height: 110%;

				text-transform: lowercase;

				a {
					color: #333333;
					text-decoration: none;
					position: relative;
					display: inline-block;
					padding-bottom: 5px;
					margin: 10px 5px;
					
					span {
						position: absolute;
						width: 0;
						height: 2px;
						bottom: 0px;
						left: 0;
						background-color: #0097DE;
					}

					&:hover {
						span {
							transition: width 1s;
							width: 100%;
						}
					}
				}
			}
		}

		.ft-soc {
			display: flex;
			justify-content: flex-end;
			align-items: center;

			padding: 40px 0;

			&__text {
				font-size: 12px;
				line-height: 150%;

				color: #4F4F4F;
				opacity: 0.85;
			}

			&__list {
				display: flex;

				li {
					width: 62px;
					height: 28px;
					border: 1px solid #D6D9E4;
					box-sizing: border-box;
					margin: 0 5px;

					position: relative;
					
					a {
						display: inline-block;
						position: absolute;
						width: 100%;
            height: 100%;
            
						svg {
							position: relative;
							width: 100%;
							height: 100%;
							padding: 7px 20px;
							fill: #009FE4;
            }
            
            &:hover {
              background-color: #009FE4;
              transition: 0.5s;
              svg {
                fill: #fff;
                transition: 0.5s;
              }
            }
					}
				}
			}
		}
	}
}


// footer

@media screen and (max-width: 1000px){

    .footer{

        & > div {
            width: 100%;
        }

        &__menu {
            .ft-menu {
                justify-content: space-around;
                flex-wrap: wrap;
            }
        }

        &__logo {
            img {
                width: 100px;
                margin: auto;
                display: inherit;
            }
        }
        &__menu .ft-soc {
            flex-wrap: wrap;
            justify-content: center;

            &__text {
                // width: 100%;
                padding: 30px 0;
            }
            &__list {
                // width: 100%;
            }
        }
    }

}

@media screen and (max-width: 900px){

    .footer{
        &__menu {
            .ft-menu {
                justify-content: flex-start;
                flex-wrap: wrap;
                padding-bottom: 30px;

                li {
                    box-sizing: border-box;
                    flex-basis: calc(50% - 40px);
                    // border-bottom: 1px solid #d6d9e4;
                    margin: 0 20px;
                }
            }
        }
    }

}

@media screen and (max-width: 750px){
    .footer{
        &__menu {
            .ft-menu {
                justify-content: flex-start;
                flex-wrap: wrap;
                padding-bottom: 30px;

                li {
                    text-align: center;
                    box-sizing: border-box;
                    flex-basis: 100%;
                    // border-bottom: 1px solid #d6d9e4;
                    margin: 0 20px;
                }
            }
        }
    }

}
