.form__header {
	text-align: center;
	margin-bottom: 35px;
}

.form__field {
	width: 100%;

	&:not(:last-child) {
		margin-bottom: 25px;
	}
}

.form__action {
	margin-top: 30px;
	text-align: center;
}