$global_font_size: 14px;
$menu_font_size: 17px;
$container_width: 1240px;

.header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;

	border-bottom: 1px solid #F2F2F2;

	// height: 82px;
}

.header {
  .container {
    position: relative;
  }
}

.hd-block {
	height: 100%;
	display: flex;
	align-items: center;
	// &:not(:last-child) {
	//     border-right: 1px solid #F2F2F2;
  // }
  .basket-line-wrap {
    display: flex;
    align-items: center;
  }

	.msgboss {
		// text-transform: lowercase;
		text-decoration: none;

		color: #333333;
		opacity: 0.85;

		padding: 0 20px 0 0px;

		display: flex;
		align-items: center;

		.icon {
			svg {
				width: 27px;
				height: 24px;
				fill: #FCAC34;
			}
			
		}

		.text {
			padding-left: 15px;
		}
        
	}

	.location {
		padding: 0 20px;
		
		.name-city {
      width: 100%;
      max-width: 100px;
			// height: 25px;

			color: #333333;
      opacity: 0.85;
      display: inline;
      text-align: center;
		}

		.value-city {

			text-decoration-line: underline;
			// text-transform: lowercase;

			color: #10A1E3;
		}
	}

	.basket {
    padding: 10px 50px;
		display: flex;
    align-items: center;

		.icon {
			svg {
				width: 30px;
				height: 31px;
				fill: #FCAC34;
			}
			
		}

		.text {
			padding-left: 15px;
		}

		span {
			// text-transform: lowercase;

			color: #333333;
			opacity: 0.85;
		}
		.link {
			text-decoration-line: underline;
			text-transform: lowercase;

			color: #10A1E3;
		}
	}

	.order {
    padding: 0 20px;

		.btn-click-order {
			display: flex;
			flex-direction: column;
			padding: 10px 24px;

			font-family: Play;
			font-size: $global_font_size;
			line-height: 110%;
	
			text-transform: uppercase;
	
			color: #FFFFFF;
			border: 0;
	
			background: linear-gradient(90deg, #2C73EF 0%, #00A8EB 100%);
		}
		
	}

	.personal {
    padding: 10px 0px 10px 40px;
		font-family: Play;
		font-size: $global_font_size;
    line-height: 110%;
        
    text-decoration: none;

		// text-transform: lowercase;

    color: #333333;
    display: flex;
    justify-content: center;    
    align-items: center;
    
    .icon {
      width: 25px;
      height: 25px;
      margin-right: 15px;
      fill: #FCAC34;
    }
    // background: url("../img/svg/ico-personal.svg");
    // background-repeat: no-repeat;
    // background-position-y: center;
    // background-position-x: left;
	}
}
.btm-burger {
  display: none;
  position: relative;
  height: auto;
  width: 60px;

  span {
    width: 30px;
    height: 3px;
    background-color: #2976ef;
    display: inline-block;
    position: absolute;
    display: flex;
    align-items: center;

    &::after {
      content: '';
      width: 30px;
      height: 3px;
      background-color: #2976ef;
      display: inline-block;
      position: absolute;
      transition: 0.5s;
      transform: translateY(-10px);
      left: 0;
    }

    &::before {
      content: '';
      width: 30px;
      height: 3px;
      background-color: #2976ef;
      display: inline-block;
      position: absolute;
      transition: 0.5s;
      transform: translateY(10px);
      left: 0;
    }
  }
  &.active {
    span {
        height: 0;
        &::before {
            transform: rotate(45deg); 
        }

        &::after {
            transform: rotate(-45deg);   
        }
    }
  }
}
.header-bottom {
	display: flex;
  align-items: center;
  border-bottom: 1px solid #F2F2F2;
  position: relative;
	
}

.btm-menu{
  width: 100%;
  &__top {
    display: flex;
    justify-content: flex-end;

    padding: 20px 0;

    .phones {
      a {
        text-decoration: none;
        text-transform: lowercase;

        color: #009BE1;

        opacity: 0.85;

        padding: 0 10px;
      }
    }

    .main-menu {
      display: flex;

      font-family: Play;
      font-size: $menu_font_size;
      line-height: 110%;

      text-transform: lowercase;
              
      li {
        padding: 0 20px;
        a {
          color: #333333;
          text-decoration: none;
          position: relative;
          display: inline-block;
          padding-bottom: 5px;

          
          span {
            position: absolute;
            width: 0;
            height: 2px;
            bottom: 0px;
            left: 0;
            background-color: #0097DE;
          }

          &:hover {
            span {
              transition: width 1s;
              width: 100%;
            }
          }
        }
      }
              
      li:last-child {
        padding: 0;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: flex-end;

    
  }
}

.catalog-menu {
  display: flex;
  background: linear-gradient(90deg, #0097DE 0%, #50CBF8 100%);
  font-family: Play;
  font-weight: bold;
  font-size: $global_font_size;
  line-height: 110%;

  text-transform: uppercase;

  color: #FFFFFF;

  .dropdown {
    border: 1px solid #dddddd;
    box-shadow: -3px 4px 19px -8px rgba(0,0,0,0.18);
    -webkit-box-shadow: -3px 4px 19px -8px rgba(0,0,0,0.18);
    -moz-box-shadow: -3px 4px 19px -8px rgba(0,0,0,0.18);
  }

  li.drop-item {
    padding: 10px 0;
    a {
      text-decoration: none;
      display: inline-block;
      &:hover {
        color: #3395c4;
      }
    }
  }
  & > li {
    position: relative;

    // &.selected {
    //   background-color: #3395c4;
    // }

    &:hover {
      background-color: #3395c4;
    }

    & > a {
      padding: 15px 20px;
      display: inline-block;
      color: #fff;
      text-decoration: none;
      
      
    }

    .dropdown {
      position: absolute;
      top: 100%;
      display: none;
      background-color: #fff;
      color: #7D7D7D;
      z-index: 2;
      padding: 35px 0;

      li {
        text-transform: none;
        min-width: 80px;
        padding-bottom: 10px;

        a {
          color: #333333;

          &:hover {
            color: #10A1E3;
            text-decoration: none;
          }
        }
      }
      .drop-col {
        padding: 0 45px;
        &:not(:last-child) {
          border-right: 1px solid #D6D9E4;
        }
      }
      
    }

    &:hover .dropdown {
      display: flex;
     
    }
  }
}

.mob-menu {
  width: 100%;
  position: absolute;
  top: 100%;
  display: none;
  z-index: 2;
  background-color: #FFFFFF;
  left: 0;
  padding: 0 15px;

  box-shadow: 0px 10px 19px -1px rgba(0,0,0,0.24);
  -webkit-box-shadow: 0px 10px 19px -1px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 10px 19px -1px rgba(0,0,0,0.24);

  &__wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .catalog-menu {
    flex-wrap: wrap;
    width: 100%;

    .dropdown {
      display: none;
    }
    &:hover .dropdown {
      display: none;
     
    }
    li {
      flex-basis: 100%;
      border: 0.5px solid #fff;
      a {
        padding: 22px 29px;
        display: inline-block;
        color: #fff;
        text-decoration: none;
        
        &:hover {
          background-color: #3395c4;
        }
      }
    }
  }


  .btm-menu{
    &__top {
      flex-wrap: wrap;
      flex-direction: column-reverse;
      padding: 10px 0;

      .phones {
        flex-basis: 100%;
        display: block;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        a {
          padding: 10px 20px;
        }
      }
  
      .main-menu {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 15px;

        li:not(:last-child) {
          border-bottom: 1px solid #f1f1f1;
        }
                
        li {
          padding: 0 20px;
          flex-basis: 100%;
                    
          a {
            color: #333333;
            padding: 16px 29px;
            display: inline-block;
  
            
            span {
              position: absolute;
              width: 0;
              height: 2px;
              bottom: 0px;
              left: 0;
              background-color: #0097DE;
            }
  
            &:hover {
              span {
                transition: width 1s;
                width: 100%;
              }
            }
          }
        }

      }
    }
  }

  .header-top {
    flex-wrap: wrap;
    display: flex;

    .hd-block{
      flex-basis: 100%;
      flex-wrap: wrap;
      &> *:not(script) {
        display: flex;
        justify-content: center;
        margin: auto;
        flex-basis: 50%;
        padding: 20px;
        min-height: 75px;

        border-bottom: 1px solid #f2f2f2;
      }

      .msgboss {
        .text {
          display: inline-block;
        }
      }
    }
  }
}


// // header
@media screen and (max-width: 1240px){
  .header-top {
    .hd-block {
        .msgboss {
            .text {
                display: none;
            }
        }
        .basket {
            &__cost {
                display: none;
            }
        }
    }
  }
}
@media screen and (max-width: 1120px){
  .header-bottom {

    .btm-menu {
        &__top {
            .phones {
                display: flex;
                flex-wrap: wrap;
                flex-basis: 21%;
                a {
                    display: inline-block;
                    width: auto;
                    // flex-basis: 100%;
                }
            }
        }
    }
  }
}
@media screen and (max-width: 1180px){
  .btm-menu__top .main-menu li {
    padding: 0 15px;
  }
  .catalog-menu > li > a {
    padding: 22px 19px;
  }
}

@media screen and (max-width: 1000px){

  .mob-menu .catalog-menu li a {
    display: block;
  }
  .header-top {
      display: none;
  }
  .header-bottom {
      flex-wrap: wrap;
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      align-items: center;
      border-bottom: 1px solid #ececec;
      margin-bottom: 30px;
      .btm-logo {
          width: 100px;
          a {
              display: flex;
              justify-content: center;
              padding: 10px;
              flex-wrap: wrap;
              display: flex;
              align-items: flex-start;
          }
      }
      .btm-burger {
          display: inline-block;
          padding: 10px;
      }
      .btm-menu {
          display: none;
          
      }
  }
}

@media screen and (max-width: 680px){
  
  .mob-menu {
      .header-top {
          .hd-block{
              &> * {
                  min-height: 95px;
              }
          }
      }
  }
  
}

@media screen and (max-width: 600px){
  
  .mob-menu {
      .header-top {
          .hd-block{
              &> * {
                  flex-basis: 100%;
                  min-height: 95px;
              }
          }
      }
  }
  
}


@media screen and (max-width: 400px) {
  .mob-menu {
    .header-top {
      .hd-block {
        &> :not(script) {
          flex-basis: 100%;
        }
      }
    }
  }
}