.map {
	position: relative;
}

.map__content {
	height: 904px;
}

.map__popup {
	padding: 40px 50px;
	top: 85px;
	right: 5%;
	width: 450px;
	position: absolute;
	z-index: 10;
	background: #fff;
	max-width: 100%;
}

@media (max-width: 1000px) {
	.map__content {
		height: 600px;
		max-height: 60vh;
		margin-left: -20px;
		margin-right: -20px;
	}
	.map__popup {
		position: static;
		padding: 0;
		margin: 0 auto;
		margin-top: 40px;
		margin-bottom: 50px;
	}
}