extends ../layout/main

block variables
  - var title = 'Каталог';


block content
  include ../modules/header
  main
    .text-page
        .container
          .breadcrumbs
            .bx-breadcrumb
              .bx-breadcrumb-item(itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" itemref="bx_breadcrumb_1")
                a.link(href="/" title="site-name" itemprop="url")
                  span(itemprop="title") Главная
              .bx-breadcrumb-item(itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" itemref="bx_breadcrumb_1")
                a.link(href="/" title="site-name" itemprop="url")
                  span(itemprop="title") Главная 1
              .bx-breadcrumb-item(itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" itemref="bx_breadcrumb_1")
                a.link(href="/" title="site-name" itemprop="url")
                  span(itemprop="title") Главная 2
              .bx-breadcrumb-item
                span Каталог
          .page-title
            h1 Каталог
    .page
      .container
        .static-page
          //- .text-container.wf45
          .double-wrap
            .left-container.wf45
              p Компания "КомТоргТранс" - один из крупнейших поставщиков коммерческого автотранспорта с пробегом на рынках Москвы и Подмосковья.
              p Наша компания была основана в 2013 году и за 6 лет работы приобрела исправную репутацию и зарекомендовала себя как надежный партнер, ведь сотрудники "КомТоргТранс" успешно работают в данной отрасли не один десяток лет.
              p Стоянка "КомТоргТранс" расположена на территории, расположенной в Подольском районе и насчитывает более 100 единиц техники в наличии: тягачи, грузовики, прицепная и строительная техника.
            //- .image.wf55
            .right-container.wf53
              img(src="./img/banner-1.jpg")
        .our-direction
          .direction-list.wf45
            .title Основные направления
            ul
              li ПОСТАВКА АВТОЗАПЧАСТЕЙ
              li КОМИССИЯ
              li.active ПРОДАЖА КОММЕРЧЕСКОГО ТРАНСПОРТА
              li ГРУЗОВОЙ АВТОСЕРВИС
              li ВЫКУП ВАШЕЙ ТЕХНИКИ
              li ПОСТАВКА АВТОЗАПЧАСТЕЙ
              li КОМИССИЯ
              li ПРОДАЖА КОММЕРЧЕСКОГО ТРАНСПОРТА
              li ГРУЗОВОЙ АВТОСЕРВИС
              li ВЫКУП ВАШЕЙ ТЕХНИКИ
          .direction-desc.wf53
            .icon
              +icon('sale-auto')
            .title ПРОДАЖА КОММЕРЧЕСКОГО ТРАНСПОРТА
            .text-container
              p Основными направлениями нашей работы является продажа коммерческого автотранспорта с пробегом и без пробега по России. Приобретая подержанный автомобиль у нас, Вы можете быть уверены в его отличном техническом состоянии и юридической чистоте. Все подержанные машины перед поступлением на реализацию проходят полную диагностику квалифицированными специалистами компании. 
                a(href="#") Каталог транспорта
            ul.table 
              li
                span.name Наименование:
                span.value Общество с ограниченной ответственностью «КомТоргТранс»
              li
                span.name ИНН /КПП:
                span.value 7705874593/ 500901001
              li
                span.name ОГРН:
                span.value 5137746130462
              li
                span.name Генеральный директор:
                span.value Кугушева Юлия Алексеевна
              


    //- .text-page
    //-   .container.double
    //-     .left-container.side
    //-       .breadcrumbs
    //-         .bx-breadcrumb
    //-           .bx-breadcrumb-item(itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" itemref="bx_breadcrumb_1")
    //-             a.link(href="/" title="site-name" itemprop="url")
    //-               span(itemprop="title") Главная
    //-           .bx-breadcrumb-item(itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" itemref="bx_breadcrumb_1")
    //-             a.link(href="/" title="site-name" itemprop="url")
    //-               span(itemprop="title") Главная 1
    //-           .bx-breadcrumb-item(itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" itemref="bx_breadcrumb_1")
    //-             a.link(href="/" title="site-name" itemprop="url")
    //-               span(itemprop="title") Главная 2
    //-           .bx-breadcrumb-item
    //-             span О компании
    //-       .page-title
    //-         h1 О компании
    //-       .about

        //-   .text-container
        //-     p Компания "КомТоргТранс" - один из крупнейших поставщиков коммерческого автотранспорта с пробегом на рынках Москвы и Подмосковья.
        //-     p Наша компания была основана в 2013 году и за 6 лет работы приобрела исправную репутацию и зарекомендовала себя как надежный партнер, ведь сотрудники "КомТоргТранс" успешно работают в данной отрасли не один десяток лет.
        //-     p Стоянка "КомТоргТранс" расположена на территории, расположенной в Подольском районе и насчитывает более 100 единиц техники в наличии: тягачи, грузовики, прицепная и строительная техника.
        //-   .our-direction
        //-     .title Основные направления
        //-     ul.direction-list
        //-       li ПОСТАВКА АВТОЗАПЧАСТЕЙ
        //-       li КОМИССИЯ
        //-       li ПРОДАЖА КОММЕРЧЕСКОГО ТРАНСПОРТА
        //-       li ГРУЗОВОЙ АВТОСЕРВИС
        //-       li ВЫКУП ВАШЕЙ ТЕХНИКИ
        //-       li ПОСТАВКА АВТОЗАПЧАСТЕЙ
        //-       li КОМИССИЯ
        //-       li ПРОДАЖА КОММЕРЧЕСКОГО ТРАНСПОРТА
        //-       li ГРУЗОВОЙ АВТОСЕРВИС
        //-       li ВЫКУП ВАШЕЙ ТЕХНИКИ
                
        //- .right-container.side
        //-   .image
        //-     img(src="./img/banner-1.jpg")

        //-   h5 ПРОДАЖА КОММЕРЧЕСКОГО ТРАНСПОРТА

        //-   p Основными направлениями нашей работы является продажа коммерческого автотранспорта с пробегом и без пробега по России. Приобретая подержанный автомобиль у нас, Вы можете быть уверены в его отличном техническом состоянии и юридической чистоте. Все подержанные машины перед поступлением на реализацию проходят полную диагностику квалифицированными специалистами компании. Каталог транспорта


  include ../modules/footer-catalog