extends ../layout/main

block variables
  - var title = 'Каталог';


block content
  include ../modules/header
  main
    .text-page
      .container
        .breadcrumbs
          .bx-breadcrumb
            .bx-breadcrumb-item(itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" itemref="bx_breadcrumb_1")
              a.link(href="/" title="site-name" itemprop="url")
                span(itemprop="title") Главная
            .bx-breadcrumb-item(itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" itemref="bx_breadcrumb_1")
              a.link(href="/" title="site-name" itemprop="url")
                span(itemprop="title") Главная 1
            .bx-breadcrumb-item(itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" itemref="bx_breadcrumb_1")
              a.link(href="/" title="site-name" itemprop="url")
                span(itemprop="title") Главная 2
            .bx-breadcrumb-item
              span Каталог
        .page-title
          h1 Каталог
      
    .page
      .container
        .page__container

          .page__sidebar
            .ct-wrap
              .ct-title Каталог продукции
                .btm-burger
                  span
              ul.ct-sect  
                li 
                  a.list-sect(href="#") 
                    +icon('light-transport')
                    span.text Легковой транспорт
                li 
                  a.list-sect(href="#")
                    +icon('tructor')
                    span.text Тягачи
                li.drop
                  a.list-sect(href="#")
                    +icon('truck')
                    span.text Грузовики
                    span.arrow
                      +icon('sect-arrow')
                  ul.dropdown
                    li 
                      a(href="#")
                        span
                        |Автопоезда
                    li 
                      a(href="#")
                        span
                        |Рефрежераторы
                    li 
                      a(href="#")
                        span
                        |Тягачи
                li 
                  a.list-sect(href="#")
                    +icon('trailer')
                    span.text Прицепная техника
                li 
                  a.list-sect(href="#")
                    +icon('construction-machine')
                    span.text Строительная техника
                li 
                  a.list-sect(href="#")
                    +icon('autobus')
                    span.text Автобусы
                li 
                  a.list-sect(href="#")
                    +icon('new-technique')
                    span.text Новая техника
                li 
                  a.list-sect(href="#")
                    +icon('spec-offers')
                    span.text Спецпредложения

          .catalog__content
            .detail-card
              .detail-card.info
                .media
                  .card-img-slider
                    .card-slider-box
                      .img-item
                        img(src="./img/item-card2-1.png")
                      .img-item
                        img(src="./img/item-card2-2.png")
                      .img-item
                        img(src="./img/item-card2-3.png")
                      .img-item
                        img(src="./img/item-card2-4.png")
                      .img-item
                        img(src="./img/item-card2-5.png")
                    ul.card-img-list
                      li
                        a.list-item(href="#" style="background-image: url(./img/item-card2-2.png)")
                      li
                        a.list-item(href="#" style="background-image: url(./img/item-card2-3.png)")
                      li
                        a.list-item(href="#" style="background-image: url(./img/item-card2-4.png)")
                      li
                        a.list-item(href="#" style="background-image: url(./img/item-card2-5.png)")

                .description-block
                  .card-container
                    .status
                      span.flag.new Новый товар
                      span.amount В наличии

                    .price Цена по запросу
                    //- .price 1 100 000 руб.
                    .prop
                      span.name Артикул запчасти:
                      span.value SA6843
                  .characteristics
                    .card-container
                      ul.table 
                        li
                          span.name Марка машины:
                          span.value ГАЗ
                        li
                          span.name Производитель:
                          span.value SOTRAS
                        li
                          span.name Оригинальный артикул:
                          span.value a0119813605
                        li
                          span.name Категория:
                          span.value Категория:
                        
                  .card-container

                    .buttons
                      a(href="#").btn.blue-grad В корзину
                      a(href="#").btn.gray Купить в 1 клик
                  .characteristics
                    .card-container
                      .description
                        p 
                          |Поставка запасных частей для грузового транспорта ведётся из собственного складского наличия. Мы поддерживаем складской запас на более 7 000 наименований.
                          |Если Вы не нашли нужной позиции, наша команда обеспечит её поставку по вашему запросу в кротчайшие сроки.
                          |Камаз 5490 европейского качества для российских дорог.
                      

              .detail-card.slider
                .control
                  h3 Похожие товары
                  .button
                    span.left-arr
                      +icon('arrow-prev')
                    span.right-arr
                      +icon('arrow-next')

                .slider-box.cards(data-slide="3")
                  - for (var i=0; i<10; i++) {  
                    .cards__item
                      .cards__item-wrap
                        .cards__img
                          img(src="./img/catalog-item-1.jpg", alt="")
                        .cards__title ГРУЗОВОЙ ТЯГАЧ СЕДЕЛЬНЫЙ IVECO STRALIS
                        .cards__props
                          .props-item
                            span Бренд:
                            span IVECO
                          .props-item
                            span Пробег:
                            span 939781 км
                          .props-item
                            span Спальных мест:
                            span 2
                          .props-item
                            span Год выпуска:
                            span 2013
                        .cards__bottom
                          .bottom-price 2 080 000 руб.
                          a.bottom-btn-more(href="#") 
                            span Подробнее
                            span.arrow
                              +icon("arrow-litle")
                  -}



  include ../modules/footer-catalog