extends ../layout/main

block variables
  - var title = 'Каталог';


block content
  include ../modules/header
  main
    .text-page
      .container
        .breadcrumbs
          .bx-breadcrumb
            .bx-breadcrumb-item(itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" itemref="bx_breadcrumb_1")
              a.link(href="/" title="site-name" itemprop="url")
                span(itemprop="title") Главная
            .bx-breadcrumb-item(itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" itemref="bx_breadcrumb_1")
              a.link(href="/" title="site-name" itemprop="url")
                span(itemprop="title") Главная 1
            .bx-breadcrumb-item(itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" itemref="bx_breadcrumb_1")
              a.link(href="/" title="site-name" itemprop="url")
                span(itemprop="title") Главная 2
            .bx-breadcrumb-item
              span Каталог
        .page-title
          h1 Каталог
      
    .page
      .container
        .page__container

          .page__sidebar
            .ct-wrap
              .ct-title Каталог продукции
                .btm-burger
                  span
              ul.ct-sect  
                li 
                  a.list-sect(href="#") 
                    +icon('light-transport')
                    span.text Легковой транспорт
                li 
                  a.list-sect(href="#")
                    +icon('tructor')
                    span.text Тягачи
                li.drop
                  a.list-sect(href="#")
                    +icon('truck')
                    span.text Грузовики
                    span.arrow
                      +icon('sect-arrow')
                  ul.dropdown
                    li 
                      a(href="#")
                        span
                        |Автопоезда
                    li 
                      a(href="#")
                        span
                        |Рефрежераторы
                    li 
                      a(href="#")
                        span
                        |Тягачи
                li 
                  a.list-sect(href="#")
                    +icon('trailer')
                    span.text Прицепная техника
                li 
                  a.list-sect(href="#")
                    +icon('construction-machine')
                    span.text Строительная техника
                li 
                  a.list-sect(href="#")
                    +icon('autobus')
                    span.text Автобусы
                li 
                  a.list-sect(href="#")
                    +icon('new-technique')
                    span.text Новая техника
                li 
                  a.list-sect(href="#")
                    +icon('spec-offers')
                    span.text Спецпредложения

          .catalog__content
            .detail-card
              .detail-card.info
                .media
                  .card-img-slider
                    .card-slider-box
                      .img-item
                        img(src="./img/card-1.png")
                      .img-item
                        img(src="./img/card-2.png")
                      .img-item
                        img(src="./img/card-3.png")
                      .img-item
                        img(src="./img/card-4.png")
                      .img-item
                        img(src="./img/card-5.png")
                      .img-item
                        img(src="./img/card-6.png")
                    ul.card-img-list
                      li
                        a.list-item(href="#" style="background-image: url(./img/card-2.png)")
                      li
                        a.list-item(href="#" style="background-image: url(./img/card-3.png)")
                      li
                        a.list-item(href="#" style="background-image: url(./img/card-4.png)")
                      li
                        a.list-item(href="#" style="background-image: url(./img/card-5.png)")
                      li
                        a.list-item(href="#" style="background-image: url(./img/card-6.png)")
                      li
                        a.list-item(href="#" style="background-image: url(./img/card-7.png)")



                  .video
                    .title Смотреть обзор на youtube:
                    a.video-yt.ajax-modal-video(href="https://www.youtube.com/watch?v=9NDg4zC18Gk")
                      img(src="./img/video-card.png")
                      span
                        img(src="./img/svg/youtube-play.svg", alt="")
                      //- +icon("youtube-play")

                  .description
                    .title описание транспорта:
                    .text 
                      p
                        | Седельный тягач Камаз 5490 предназначен для доставки крупногабаритных грузов на дальние расстояния. У тягача умеренный расход  топлива, комфортная кабина и выгодная стоимость.
                        | Камаз 5490 европейского качества для российских дорог.
                .description-block
                  .card-container
                    .price 1 100 000 руб.
                    ul.props
                      li 
                        span.name Производитель: 
                        span.value IVECO
                      li
                        span.name Год выпуска TC: 
                        span.value 2015
                      li
                        span.name Пробег: 
                        span.value 12345678
                    ul.advantages
                      li Возможна покупка в кредит или лизинг
                      li Торг при осмотре транспорта
                      li Возможна покупка в кредит или лизинг

                    .buttons
                      a(href="#").btn.blue-grad Купить
                      a(href="#").btn.gray Заказать звонок менеджера
                  .characteristics
                    .card-container
                      .title Характеристики транспорта:
                      ul.table 
                        li
                          span.name Марка, модель ТС:
                          span.value КАМАЗ 6520-53
                        li
                          span.name Наименование (тип ТС):
                          span.value КАМАЗ 6520-53
                        li
                          span.name Год изготовления ТС:
                          span.value 2018
                        li
                          span.name Цвет кузова (кабины, прицепа):
                          span.value Оранжевый RAL 2009
                        li
                          span.name Мощность двигателя, л.с. (кВт):
                          span.value 400 (294)
                        li
                          span.name Рабочий объем двигателя, куб. см – 11762:
                          span.value 11762

                      .title Дополнительные характеристики:
                      .description
                        p 
                          | Продаётся седельный тягач Volvo (Вольво) FM-TRUCK 4x2 2008 г.в.
                          br
                          | Пробег, тыс.км.: 1 400 000
                          br
                          | Год выпуска: 2008
                          br
                          | Марка: VOLVO FM TRUCK 4x2
                          br
                          | Страна сборки: Бельгия
                          br
                          | Количество спальных мест: 1
                          br
                          | Количество осей: 2
                          br
                          | Полная масса, кг.: 20100
                          br
                          | Грузоподъемность, кг.: 12401
                          br
                          | Тип подвески: Пневмо-рессорная
                          br
                          | Мощность двигателя, л.с.: 389
                          br
                          | Рабочий объем двигателя: 9364
                          br
                          | Экологический класс: 3
                          br
                          | КПП тип: Механика
                          br
                          | Готов к эксплуатации.
                          br
                          | Торг возможен при осмотре.

                      

              .detail-card.slider
                .control
                  h3 Похожие товары
                  .button
                    span.left-arr
                      +icon('arrow-prev')
                    span.right-arr
                      +icon('arrow-next')

                .slider-box.cards(data-slide="3")
                  - for (var i=0; i<10; i++) {  
                    .cards__item
                      .cards__item-wrap
                        .cards__img
                          .img-wrap
                            img(src="./img/catalog-item-1.jpg", alt="")
                        .cards__title ГРУЗОВОЙ ТЯГАЧ СЕДЕЛЬНЫЙ IVECO STRALIS
                        .cards__props
                          .props-item
                            span Бренд:
                            span IVECO
                          .props-item
                            span Пробег:
                            span 939781 км
                          .props-item
                            span Спальных мест:
                            span 2
                          .props-item
                            span Год выпуска:
                            span 2013
                        .cards__bottom
                          .bottom-price 2 080 000 руб.
                          a.bottom-btn-more(href="#") 
                            span Подробнее
                            span.arrow
                              +icon("arrow-litle")
                  -}



  include ../modules/footer-catalog