extends ../layout/main

block variables
  - var title = 'Каталог';


block content
  include ../modules/header
  main
    div.text-page
      div.container
        div.breadcrumbs
          div.bx-breadcrumb
            div.bx-breadcrumb-item(itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" itemref="bx_breadcrumb_1")
              a.link(href="/" title="site-name" itemprop="url")
                span(itemprop="title") Главная
            div.bx-breadcrumb-item(itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" itemref="bx_breadcrumb_1")
              a.link(href="/" title="site-name" itemprop="url")
                span(itemprop="title") Главная 1
            div.bx-breadcrumb-item(itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" itemref="bx_breadcrumb_1")
              a.link(href="/" title="site-name" itemprop="url")
                span(itemprop="title") Главная 2
            div.bx-breadcrumb-item
              span Каталог
        .title-row
          .page-title-wrap
            div.page-title
              h1 Каталог
          .catalog-search
            form.search(action="/" method="POST")
              div.search-input
                +icon('search-icon')
                input(type="text" name="" placeholder="Поиск по каталогу транспорта и автозапчастей")
              input.btn.blue-grad(type="submit" value="Искать")
      
    div.page
      div.container
        div.page__container
          div.page__sidebar
            div.ct-wrap
              div.ct-title Каталог продукции
                div.btm-burger
                  span
              ul.ct-sect  
                li 
                  a.list-sect(href="#") 
                    +icon('light-transport')
                    span.text Легковой транспорт
                li 
                  a.list-sect(href="#")
                    +icon('tructor')
                    span.text Тягачи
                li.drop
                  a.list-sect(href="#")
                    +icon('truck')
                    span.text Грузовики
                    span.arrow
                      +icon('sect-arrow')
                  ul.dropdown
                    li 
                      a(href="#")
                        span
                        |Автопоезда
                    li 
                      a(href="#")
                        span
                        |Рефрежераторы
                    li 
                      a(href="#")
                        span
                        |Тягачи
                li 
                  a.list-sect(href="#")
                    +icon('trailer')
                    span.text Прицепная техника
                li 
                  a.list-sect(href="#")
                    +icon('construction-machine')
                    span.text Строительная техника
                li 
                  a.list-sect(href="#")
                    +icon('autobus')
                    span.text Автобусы
                li 
                  a.list-sect(href="#")
                    +icon('new-technique')
                    span.text Новая техника
                li 
                  a.list-sect(href="#")
                    +icon('spec-offers')
                    span.text Спецпредложения


          div.catalog__content
            form
              div.filter-title.input-wrap
                .title Mercedes benz
                .filter-input
                  label
                    input.styler(type="checkbox")
                    span Показывать автозапчасти в наличии
              div.input-wrap
                ul.ct-wrap
                  li
                    label
                      input.styler(type="checkbox")
                      span.val BMW
                      span.ctn (3)
                  li
                    label
                      input.styler(type="checkbox")
                      span.val HYUNDAI
                      span.ctn (3)
                  li
                    label
                      input.styler(type="checkbox")
                      span.val MAN
                      span.ctn (3)
                  li
                    label
                      input.styler(type="checkbox")
                      span.val Sor Iberica
                      span.ctn (3)
                  li
                    label
                      input.styler(type="checkbox")
                      span.val IVECO
                      span.ctn (3)
                  li
                    label
                      input.styler(type="checkbox")
                      span.val ТТМ Центр
                      span.ctn (3)
                  li
                    label
                      input.styler(type="checkbox")
                      span.val KINGLONG United
                      span.ctn (3)



            div.catalog-items--list.cards
                div.cards__item.active
                    .col-1.column
                        a.title(href="#") 182500401011 НАСОС МАЗ, КАМАЗ ПОДЪЕМА КАБИНЫ ШНКФ458662250
                        .amount 
                            span.amount-text Наличие на складе:
                            span.status.not-avail В наличии
                    .col-2.column
                        .prev-pic
                            img(src="./img/no-photo.png")
                    .col-3.column
                        .prop
                            span.name Производитель:
                            span.value WOSM
                        .prop
                            span.name Артикул:
                            span.value G083

                    .col-4.column
                        .control
                            .price 1 429.58 руб.
                            .count-buy
                                .counter
                                    input(type="text" value="2")
                                    .ctn-btn
                                        button.up
                                            +icon('count-up')
                                        i
                                        button.up
                                            +icon('count-down')
                                .btn-buy
                                    button.btn.blue-grad Купить

                - for (var i=0; i<9; i++) {     
                    div.cards__item
                        .col-1.column
                            .title 182500401011 НАСОС МАЗ, КАМАЗ ПОДЪЕМА КАБИНЫ ШНКФ458662250
                            .amount 
                                span.amount-text Наличие на складе:
                                span.status В наличии
                        .col-2.column
                            .prev-pic
                                img(src="./img/prev-pic-catalog2.png")
                        .col-3.column
                            .prop
                                span.name Производитель:
                                span.value WOSM
                            .prop
                                span.name Артикул:
                                span.value G083

                        .col-4.column
                            .control
                                .price 1 429.58 руб.
                                .count-buy
                                    .counter
                                        input(type="text" value="2")
                                        .ctn-btn
                                            button.up
                                                +icon('count-up')
                                            i
                                            button.up
                                                +icon('count-down')
                                    .btn-buy
                                        button.btn.blue-grad Купить
                - }

            div.pagination
              div.pagination__container
                a.pagination-prev(href="#")
                  +icon('arrow-prev-pag')
                ul.pagination-list
                  li
                    a(href="#") 1
                  li
                    a(href="#") 2
                  li.active
                    a(href="#") 3
                  li
                    a(href="#") 4
                  li
                    a(href="#") 5
                  li
                    | ...
                  li
                    a(href="#") 55
                a.pagination-next(href="#")
                  +icon('arrow-next-pag')
                  

  include ../modules/footer-catalog