extends ../layout/main

block variables
  - var title = 'Каталог';


block content
  include ../modules/header
  main
    div.text-page
      div.container
        div.breadcrumbs
          div.bx-breadcrumb
            div.bx-breadcrumb-item(itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" itemref="bx_breadcrumb_1")
              a.link(href="/" title="site-name" itemprop="url")
                span(itemprop="title") Главная
            div.bx-breadcrumb-item(itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" itemref="bx_breadcrumb_1")
              a.link(href="/" title="site-name" itemprop="url")
                span(itemprop="title") Главная 1
            div.bx-breadcrumb-item(itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" itemref="bx_breadcrumb_1")
              a.link(href="/" title="site-name" itemprop="url")
                span(itemprop="title") Главная 2
            div.bx-breadcrumb-item
              span Каталог
        .title-row
          .page-title-wrap
            div.page-title
              h1 Каталог
          .catalog-search
            form.search(action="/" method="POST")
              div.search-input
                +icon('search-icon')
                input(type="text" name="" placeholder="Поиск по каталогу транспорта и автозапчастей")
              input.btn.blue-grad(type="submit" value="Искать")
      
    div.page
      div.container
        div.page__container
          div.page__sidebar
            div.ct-wrap
              div.ct-title Каталог продукции
                div.btm-burger
                  span
              ul.ct-sect  
                li 
                  a.list-sect(href="#") 
                    +icon('light-transport')
                    span.text Легковой транспорт
                li 
                  a.list-sect(href="#")
                    +icon('tructor')
                    span.text Тягачи
                li.drop
                  a.list-sect(href="#")
                    +icon('truck')
                    span.text Грузовики
                    span.arrow
                      +icon('sect-arrow')
                  ul.dropdown
                    li 
                      a(href="#")
                        span
                        |Автопоезда
                    li 
                      a(href="#")
                        span
                        |Рефрежераторы
                    li 
                      a(href="#")
                        span
                        |Тягачи
                li 
                  a.list-sect(href="#")
                    +icon('trailer')
                    span.text Прицепная техника
                li 
                  a.list-sect(href="#")
                    +icon('construction-machine')
                    span.text Строительная техника
                li 
                  a.list-sect(href="#")
                    +icon('autobus')
                    span.text Автобусы
                li 
                  a.list-sect(href="#")
                    +icon('new-technique')
                    span.text Новая техника
                li 
                  a.list-sect(href="#")
                    +icon('spec-offers')
                    span.text Спецпредложения


          div.catalog__content
            form
              div.filter-title.input-wrap
                .title Mercedes benz
                .filter-input
                  label
                    input.styler(type="checkbox")
                    span Показывать автозапчасти в наличии
              div.input-wrap
                ul.ct-wrap
                  li
                    label
                      input.styler(type="checkbox")
                      span.val BMW
                      span.ctn (3)
                  li
                    label
                      input.styler(type="checkbox")
                      span.val HYUNDAI
                      span.ctn (3)
                  li
                    label
                      input.styler(type="checkbox")
                      span.val MAN
                      span.ctn (3)
                  li
                    label
                      input.styler(type="checkbox")
                      span.val Sor Iberica
                      span.ctn (3)
                  li
                    label
                      input.styler(type="checkbox")
                      span.val IVECO
                      span.ctn (3)
                  li
                    label
                      input.styler(type="checkbox")
                      span.val ТТМ Центр
                      span.ctn (3)
                  li
                    label
                      input.styler(type="checkbox")
                      span.val KINGLONG United
                      span.ctn (3)




            div.catalog-items.cards
              - for (var i=0; i<9; i++) {     
                div.cards__item
                  div.cards__item-wrap
                    div.cards__img
                      a.img-wrap(href="#")
                        img(src="./img/catalog-item-1.jpg", alt="")
                    div.cards__title ГРУЗОВОЙ ТЯГАЧ СЕДЕЛЬНЫЙ IVECO STRALIS
                    div.cards__props
                      div.props-item
                        span Бренд:
                        span IVECO
                      div.props-item
                        span Пробег:
                        span 939781 км
                      div.props-item
                        span Спальных мест:
                        span 2
                      div.props-item
                        span Год выпуска:
                        span 2013
                    div.cards__bottom
                      div.bottom-price 2 080 000 руб.
                      a.bottom-btn-more(href="#") 
                        span Подробнее
                        span.arrow
                          +icon("arrow-litle")
              - }

            div.pagination
              div.pagination__container
                a.pagination-prev(href="#")
                  +icon('arrow-prev-pag')
                ul.pagination-list
                  li
                    a(href="#") 1
                  li
                    a(href="#") 2
                  li.active
                    a(href="#") 3
                  li
                    a(href="#") 4
                  li
                    a(href="#") 5
                  li
                    | ...
                  li
                    a(href="#") 55
                a.pagination-next(href="#")
                  +icon('arrow-next-pag')
                  

  include ../modules/footer-catalog