extends ../layout/main

block variables
    - var title = 'Контакты';


block content
    include ../modules/header
    main
        .text-page
            .container
                .breadcrumbs
                    .bx-breadcrumb
                        .bx-breadcrumb-item(itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" itemref="bx_breadcrumb_1")
                            a.link(href="/" title="site-name" itemprop="url")
                                span(itemprop="title") Главная
                        .bx-breadcrumb-item
                            span Контакты
                .page-title
                    h1 Контакты
        .page.contacts
            .container
                .contacts__content.static-page
                    .double-wrap
                        .left-container.wf50
                            .contacts__block
                                .contacts__block-cell
                                    .contacts__block-contacts
                                        .contacts-list__contact
                                            .contacts-list__contact-icon
                                                +icon("icon__phone")
                                            a.contacts-list__contact-link(href='tel:+78005500162') +7 (800) 550-01-62
                                        .contacts-list__contact
                                            .contacts-list__contact-icon
                                                +icon("icon__email")
                                            a.contacts-list__contact-link(href='mailto:info@komtorgtranse.ru') info@komtorgtranse.ru
                                        .contacts-list__contact
                                            .contacts-list__contact-icon
                                                +icon("icon__phone")
                                            a.contacts-list__contact-link(href='tel:+78005500162') +7 (800) 550-01-62
                                .contacts__block-cell.contacts__block-cell--grafik
                                    ul.table.table--min
                                        li
                                            span.name ПН - ПТ:
                                            span.value 09:00 - 19:00
                                        li
                                            span.name СБ:
                                            span.value 09:00 - 19:00
                            .contacts__info
                                h3.contacts__info-title.h3 АДРЕС
                                p.color-black Московская область, городской округ Подольск, деревня Бережки, ул. Промышленная, д.3 (Коледино)
                                p Широта N(55.38809789024745)
                                    br
                                    | Долгота E(37.59300982531738)
                        .right-container.wf50
                            .contacts-list
                                .contacts-list__item
                                    .contacts-list__item-caption.h3 Отдел продаж транспорта:
                                    .contacts-list__item-grid
                                        .contacts-list__item-cell
                                            .contacts-list__contact
                                                .contacts-list__contact-icon
                                                    +icon("icon__phone")
                                                a.contacts-list__contact-link(href='tel:+78005500162') +7 (800) 550-01-62
                                                .contacts-list__contact-text доб. 700
                                        .contacts-list__item-cell
                                            .contacts-list__contact
                                                .contacts-list__contact-icon
                                                    +icon("icon__email")
                                                a.contacts-list__contact-link(href='mailto:info@komtorgtranse.ru') info@komtorgtranse.ru
                                                .contacts-list__contact-text
                                                    b ПН - ПТ:
                                                    |  09:00 - 19:00
                                .contacts-list__item
                                    .contacts-list__item-caption.h3 Отдел продаж запасных частей:
                                    .contacts-list__item-grid
                                        .contacts-list__item-cell
                                            .contacts-list__contact
                                                .contacts-list__contact-icon
                                                    +icon("icon__phone")
                                                a.contacts-list__contact-link(href='tel:+78005500162') +7 (800) 550-01-62
                                                .contacts-list__contact-text доб. 700
                                        .contacts-list__item-cell
                                            .contacts-list__contact
                                                .contacts-list__contact-icon
                                                    +icon("icon__email")
                                                a.contacts-list__contact-link(href='mailto:info@komtorgtranse.ru') info@komtorgtranse.ru
                                                .contacts-list__contact-text
                                                    b ПН - ПТ:
                                                    |  09:00 - 18:00
                                .contacts-list__item
                                    .contacts-list__item-caption.h3 Грузовой автосервис:
                                    .contacts-list__item-grid
                                        .contacts-list__item-cell
                                            .contacts-list__contact
                                                .contacts-list__contact-icon
                                                    +icon("icon__phone")
                                                a.contacts-list__contact-link(href='tel:+78005500162') +7 (800) 550-01-62
                                                .contacts-list__contact-text доб. 700
                                        .contacts-list__item-cell
                                            .contacts-list__contact
                                                .contacts-list__contact-icon
                                                    +icon("icon__email")
                                                a.contacts-list__contact-link(href='mailto:info@komtorgtranse.ru') info@komtorgtranse.ru
                                .contacts-list__item
                                    .contacts-list__item-caption.h3 Отдел закупок:
                                    .contacts-list__item-grid
                                        .contacts-list__item-cell
                                            .contacts-list__contact
                                                .contacts-list__contact-icon
                                                    +icon("icon__phone")
                                                a.contacts-list__contact-link(href='tel:+78005500162') +7 (800) 550-01-62
                                                .contacts-list__contact-text доб. 700
                                        .contacts-list__item-cell
                                            .contacts-list__contact
                                                .contacts-list__contact-icon
                                                    +icon("icon__email")
                                                a.contacts-list__contact-link(href='mailto:info@komtorgtranse.ru') info@komtorgtranse.ru

                .contacts__map
                    include ../modules/map
    include ../modules/footer-catalog