doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Страницы
  body

    h1 Страницы
    ol
      li 
        a(href="./mainpage.html") Главная
      li 
        a(href="./catalog.html") Каталог транспорта
      li 
        a(href="./catalog-2.html") Каталог запчастей
      li 
        a(href="./card.html") Карточка транспорта
      li 
        a(href="./card-2.html") Карточка запчастей
      li 
        a(href="./about.html") О компании
      li 
        a(href="./news.html") Новость детальная
      li
        a(href="./contacts.html") Контакты