extends ../layout/main

block variables
  - var title = 'Главная';


block content
  include ../modules/header
  main
    section
      div.container
        div.main-slider
          div.main-slider__control
            div.control__box
              div.slide_line-wrap
                div.slide_line
                  div.control__item
                    div.control__title Новый приход тягачей maz-1
                    div.control__text В наличии более 10 единиц!-1
                    button.control__btn
                      span.text Перейтив каталог1
                      span.icon 
                        +icon("arrow-next")
                  div.control__item
                    div.control__title Новый приход тягачей maz-2
                    div.control__text В наличии более 10 единиц!-2
                    button.control__btn
                      span.text Перейтив каталог2
                      span.icon 
                        +icon("arrow-next")
                  div.control__item
                    div.control__title Новый приход тягачей maz-3
                    div.control__text В наличии более 10 единиц!-3
                    button.control__btn
                      span.text Перейтив каталог3
                      span.icon 
                        +icon("arrow-next")
              div.control__dots
                
          div.main-slider__wrapper
            div.main-slider__box
              div.main-slider__item
                div.main-slider__img(style="background: url(./img/slide-1.jpg)")
              div.main-slider__item
                div.main-slider__img(style="background: url(./img/slide-1.jpg)")
              div.main-slider__item
                div.main-slider__img(style="background: url(./img/slide-1.jpg)")
    section
      div.container
        div.main-catalog-slider
          div.slider-title 
            div.text 
              span СПЕЦПРЕДЛОЖЕНИЯ НЕДЕЛИ
            div.arrows
              span.arrow-prev
                +icon("arrow-prev")
              i
              span.arrow-next
                +icon("arrow-next")

          div.slider-box.cards
            - for (var i=0; i<10; i++) {  
              div.cards__item
                div.cards__item-wrap
                  div.cards__img
                    .img-wrap
                      img(src="./img/catalog-item-1.jpg", alt="")
                  div.cards__title ГРУЗОВОЙ ТЯГАЧ СЕДЕЛЬНЫЙ IVECO STRALIS
                  div.cards__props
                    div.props-item
                      span Бренд:
                      span IVECO
                    div.props-item
                      span Пробег:
                      span 939781 км
                    div.props-item
                      span Спальных мест:
                      span 2
                    div.props-item
                      span Год выпуска:
                      span 2013
                  div.cards__bottom
                    div.bottom-price 2 080 000 руб.
                    a.bottom-btn-more(href="#") 
                      span Подробнее
                      span.arrow
                        +icon("arrow-litle")
            -}
            
    section
      div.container
        div.main-catalog-sec

          div.sections
            a.sections__item(href="#")
              div.icon
                +icon("truck")
              div.title 
                b Грузовики
              div.text Продлить срок службы двигателя можно своевременным уходом
            a.sections__item(href="#")
              div.icon
                +icon("tructor")
              div.title 
                b Тягачи
              div.text Продлить срок службы двигателя можно своевременным уходом
            a.sections__item(href="#")
              div.icon
                +icon("trailer")
              div.title 
                b Прицепная техника
              div.text Продлить срок службы двигателя можно своевременным уходом
            a.sections__item(href="#")
              div.icon
                +icon("construction-machine")
              div.title 
                b Строительная техника
              div.text Продлить срок службы двигателя можно своевременным уходом
            a.sections__item(href="#")
              div.icon
                +icon("new-technique")
              div.title 
                b Новая техника
              div.text Продлить срок службы двигателя можно своевременным уходом
            a.sections__item(href="#")
              div.icon
                +icon("light-transport")
              div.title 
                b Легковой транспорт
              div.text Продлить срок службы двигателя можно своевременным уходом
          div.banner
            div.banner-block__wrap
              a(href="#")
                img(src="./img/banner-2.jpg", alt="")
    section
      div.container
        div.main-about
        
          div.content
            div.content-container
              div.content-wrap
                span
                span
                span
                span
                div.title О КОМПАНИИ КОМТОРГТРАНС
                div.text 
                  p Компания "КомТоргТранс" - один из крупнейших поставщиков коммерческого автотранспорта с пробегом на рынках Москвы и Подмосковья. Наша компания была основана в 2013 году и за 6 лет работы приобрела исправную репутацию и зарекомендовала себя как надежный партнер, ведь сотрудники "КомТоргТранс" успешно работают в данной отрасли не один десяток лет.
                div.content__link
                  a(href="#") 
                    div.link-title Подробнее о компании
                    span
                      +icon("arrow-litle")
          div.about-banner
            img(src="./img/banner-1.jpg", alt="")

    section.adv__sect
      div.container
        div.main-adv
          div.adv-descr
            div.desc-top 
              div.desc-top__title Почему мы ?
              div.desc-top__text 
                <b>Наша миссия</b> — поставка качественной техники по доступной и приемлемой цене. Ответственный подход к работе и внимание к интересам клиента основополагающие принципы работы всех сотрудников "КомТоргТранс".
                
            div.desc-bottom
              div.content
                div.content__wrapper
                  div.content__title Приглашаем к сотрудничеству с X5 Retail GROUP
                  div.content__text 
                    p Компания X5 омпания Х5 RETAIL GROUP приглашает Индивидуальных предпринимателей и Юридических лиц - собственников транспорта для постоянной, стабильной работы по доставке грузов с РЦ на магазины Х5 Retail Group.
                  div.content__link
                    a(href="#") 
                      div.link-title Подробнее о сотруднечестве
                      span
                        +icon("arrow-litle")
              div.file
                div.file__wrapper
                  a(href="#" download).file__icon
                    +icon("file-upload")
                  div.file__title 
                    h5 Скачать презентацию
                  div.file__desc 
                    p Скачайте нашу презентацию в формате PDF
                    
          div.advantages
            div.advantages__item
              div.adv-content__wrap
                div.adv-content__icon
                  span
                  span
                  span
                  span
                  span
                  span
                  span
                  span
                  +icon("profit-price")
                div.adv-content__title Выгодные цены
            div.advantages__item
              div.adv-content__wrap
                div.adv-content__icon
                  span
                  span
                  span
                  span
                  span
                  span
                  span
                  span
                  +icon("wide-range")
                div.adv-content__title Широкий ассортимент
            div.advantages__item
              div.adv-content__wrap
                div.adv-content__icon
                  span
                  span
                  span
                  span
                  span
                  span
                  span
                  span
                  +icon("oficial-distr")
                div.adv-content__title Официальный дистрибьютер
            div.advantages__item
              div.adv-content__wrap
                div.adv-content__icon
                  span
                  span
                  span
                  span
                  span
                  span
                  span
                  span
                  +icon("avail-fleet")
                div.adv-content__title В наличии в автопарке
            div.advantages__item
              div.adv-content__wrap
                div.adv-content__icon
                  span
                  span
                  span
                  span
                  span
                  span
                  span
                  span
                  +icon("calendar")
                div.adv-content__title 6 лет на рынке
            div.advantages__item
              div.adv-content__wrap
                div.adv-content__icon
                  span
                  span
                  span
                  span
                  span
                  span
                  span
                  span
                  +icon("pos-reviews")
                div.adv-content__title Много положительных отзывы

  include ../modules/footer