extends ../layout/main

block variables
  - var title = 'Каталог';


block content
  include ../modules/header
  main
    .text-page
        .container
          .breadcrumbs
            .bx-breadcrumb
              .bx-breadcrumb-item(itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" itemref="bx_breadcrumb_1")
                a.link(href="/" title="site-name" itemprop="url")
                  span(itemprop="title") Главная
              .bx-breadcrumb-item(itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" itemref="bx_breadcrumb_1")
                a.link(href="/" title="site-name" itemprop="url")
                  span(itemprop="title") Новости
              .bx-breadcrumb-item
                span Новость 1
          .page-title
            h1 Новость 1
          .public-date
            span 23.04.2020
    .page
      .container
        .static-page
          .double-wrap
            .left-container.wf69
              p Как сообщает «Российская газета», в РФ планируется создание нового органа, главной обязанностью которого будет контроль водителей. По сути, это будет единый агрегатор данных, полученный из камер наблюдения. Данный орган будет работать по всей территории страны.

              p Специалисты уже успели разработать прототип системы на базе платформы «Автодата». Помимо использования уже существующего оборудования будет созданы и новые инструменты контроля по нарушениям ПДД. По оценкам, данный проект обойдется в 100 миллионов рублей, а на его реализацию понадобится от 2 до 5 месяцев.

              p Все без исключения материалы, которые будут загружены в систему, в обязательном порядке будут проверяться на предмет соответствия законодательным нормам.

              p Сегодня в Российской Федерации насчитывается более 16 000 камер фотонаблюдений на дорогах. Как заявляют власти, уже к 2024 году их количество должно увеличиться до 19 тысяч единиц. Данные средства зарекомендовали себя с наилучшей стороны, поскольку именно с их помощью выявляется 80% различных типов правонарушений.

              p Кроме карательных функций, данная система позволит избежать незаконных штрафов, а также внесет полный запрет на несанкционированный доступ к личной информации водителей. Теперь это можно будет сделать только после соответствующего запроса.

              ol
                li Список нумерованный
                li Список нумерованный
                li Список нумерованный
                li Список нумерованный

              ul
                li Список нумерованный
                li Список нумерованный
                li Список нумерованный
                li Список нумерованный
              ul(type="disc")
                li Список нумерованный
                li Список нумерованный
                li Список нумерованный
                li Список нумерованный

            .right-container.wf30.sidebar
              .sidebar-title
                h6 
                  b Может быть интересно:
              .news-list
                - for (var i=0; i<4; i++) { 
                  a.news-item(href="#")
                    .news-image
                      img(src="./img/news-item-img.png")
                    .news-content
                      .title Заголовок новости 1 для проверки заполняемости блока заголовком
                      //- .prev-text
                      //-   p Как сообщает «Российская газета», в РФ планируется создание нового органа, главной обязанностью которого будет контроль водителей. 
                      .bottom-text
                        .public-date 04.01.2021
                        .link Подробнее
                -}




  include ../modules/footer-catalog