include ../mixins
block variables

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Main page
    link(rel="stylesheet" type='text/css' href="./libs/libs.min.css")
    link(rel="stylesheet" href="./css/main.css")
    block libs-css
  body

    block content

    script(src="./libs/libs.min.js")
    script(src="./js/script.js")